[2014-05-23 18:35] Wilto opened #1 "Illustrations are a little too… code-y."
There’s a color-coding and an A/B code for which layout applies where, and it is just a lot of stuff going on. The actual write-up might help a bit, but we might be better off putting the actual Layout A and Layout B in the color coded containers—maybe at a lowered opacity, so there doesn’t seem obnoxiously busy.

[2014-05-27 13:30] Wilto opened #2 "Module layouts"
So, we need a single-breakpoint module dealie that breaks in especially visible ways when dropped into an inappropriate context. Once we have these layouts sorted, I’ll replace the Layout A/B placeholders in the layout wireframes with these (see #1). I’m working on a couple of things for this, but if anyone wants to take a stab at it here’s the template:

![wireframe](https://cloud.githubuserconte

[2014-05-27 13:41] Wilto commented on #2
I’m working on this now, but it’s pretty much just text—it won’t look _ideal_ when shown at the wrong size, but all this text will reflow more or less okay.

![image](https://cloud.githubusercontent.com/assets/439942/3092035/9ed9243a-e5a4-11e3-87cc-6a05f6439e76.png)

What we really need is something that’s like “whoop, woah, that is _busted_” when Layout B is applied at Layout A sizes, and looks a

[2014-05-27 13:46] Wilto opened #3 "Needs a real write-up"
I’ve been working on illustrations as a weird sort of outline but if anyone wants to start drafting some general-purpose copy on the main idea of element queries, it would be hugely helpful.

[2014-05-27 13:49] Wilto opened #4 "Secondary use cases"
So, the primary use case—which may be the only use case, really—is pretty easy to explain in broad terms. I’d love to see some community-contributed specific use cases, though: links to things you’ve worked on that would’ve been much less painful given an “element query” solution, uses that aren’t covered by the stuff we’re illustrating so far, and so on. No formalities needed—if you have a link t

[2014-05-27 14:49] BPScott commented on #2
I think the easiest way to create _woah, busted_ is to create another module-like thing within the current module to create a new eq context.

A potential way of doing this is placing an overlay above the image in your module whose size / content changes based on the size of the image. An example of this in the wild is the play icon / "days to watch" overlay on the [bbc.co.uk/programmes' programme

[2014-05-27 17:25] anselmh commented on #4
Using responsive images, responsive videos (means media queries) in components on a web page. Serving the proper size is nearly impossible because RWD should react to element queries but can only react to media queries. I may write this down separately in detail with a demo.

Generally spoken, EQs would be a massive improvement for component based web applications where each component is independe

[2014-05-28 22:31] derekjohnson commented on #4
If you have a wide main column and narrow sidebar layout in wider viewports, a component that consists of an image, heading and paragraph will probably need to be displayed differently depending on which column it's contained in.

One might want it to look like a classic [media object](http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/) in the main col

[2014-05-30 08:26] niksy commented on #4
Recently I’ve worked on project which needed to have responsive ad serving solution. One ad type that has shown the need for element queries are wallpaper ads.

Let’s say you have resolution of 1680px and main container with 1280px width. Left and right side should both have two ad placeholders with 300px width. Simple math says that you’re left with 400px for both sides, while both ad placeholder

[2014-05-30 14:29] acolangelo commented on #4
A current project (launching Monday, will update with links) has a template that is using a masonry-type layout. The articles within this interface need different layouts based on how the columns resize (sometimes not uniformly). Since the content is always changing, the points at which these articles need different layouts are not predictable.

[2014-05-30 20:08] rupl commented on #4
I have been experimenting with EQ-based responsive images using https://github.com/Snugug/eq.js

The easiest way to accomplish this is omitting `src` then using the callback available in the JS lib to populate the images based on the "state" of their parent component. Although this particular library achieves decent performance by forcing you to declare the element's possible breakpoints beforehan

[2014-05-31 12:20] davidjgoss commented on #4
"List" components in particular spring to mind. For a real word example, look at `.productlist` here at different viewport sizes:
<http://www.thackerays.co.uk/designer-womenswear/brands/ted-baker

It starts out with the image left-aligned, then shows two items per row when the viewport gets a bit wider, then switches to images on top with center-aligned text when the viewport gets wider still.

I'

[2014-06-01 18:25] #1 closed, assigned to nobody

[2014-06-01 18:26] #2 closed, assigned to nobody

[2014-06-01 18:26] #3 closed, assigned to nobody

[2014-06-12 17:28] Wilto opened #5 "Informative References"
Getting a list of articles on the subject going.
- http://filamentgroup.com/lab/element-query-workarounds.html
- http://www.jonathantneal.com/blog/thoughts-on-media-queries-for-elements/
- http://www.xanthir.com/b4PR0
- http://www.xanthir.com/b4VG0

Keep ’em coming.

[2014-06-12 17:35] justincavery commented on #5
http://www.smashingmagazine.com/2013/06/25/media-queries-are-not-the-answer-element-query-polyfill/

http://css-tricks.com/thoughts-media-queries-elements/

[2014-06-12 18:17] derekjohnson commented on #5
http://hugogiraudel.com/2014/04/22/why-element-queries-matter/

[2014-06-12 20:37] Wilto commented on #5
http://fremycompany.com/BG/2013/Element-Media-Queries-min-width-883/
http://discourse.specifiction.org/t/element-queries/26/8

[2014-06-17 15:16] Wilto commented on #5
http://www.backalleycoder.com/2014/04/18/element-queries-from-the-feet-up/

[2014-06-17 15:30] hereinthehive commented on #5
I'm stockpiling these myself here: https://kippt.com/hereinthehive/element-query-resources. Short of time this second but will feed back with any specifics that are worth a read.

[2014-06-17 16:15] Wilto opened #7 "CSS Containment Draft"
So, there are two sides to this: the CSS side of things (“what do the element queries look like”) and the element side of things (“how do we define an element as having viewport-like qualities”).

We can’t treat _every_ element as having viewport-ish behavior, or we end up with a fractal nightmare of reevaluation and potential infinite loops: an element sets a child element to `width: 200%` which

[2014-06-17 16:17] tabatkins commented on #7
Nah, the point of viewport-ish behavior is that children have no effect on your layout, so it's okay.  The reason we can't treat everything as having that behavior is because it's a terrible behavior for most elements, who really do want to be sized according to their children.

[2014-06-17 16:20] Wilto commented on #7
Ah, okay, thought it upped the “infinite loop” potential.

[2014-06-17 16:38] csuwildcat commented on #4
I believe @rupl is on the right track, place name-id'd query definitions in an attribute, and style against active query name-ids. That's the same conclusion I reached when coding this element query implementation/post: http://www.backalleycoder.com/2014/04/18/element-queries-from-the-feet-up/

[2014-06-17 17:18] uniqname commented on #7
I've been bouncing my thoughts on this off my co-workers but I apologize if it's still rather unformed or too low level right now. I just needed to get it out of my head and in front of those with a deeper understanding of it's implications.

Currently `float`ed or `inline-block`ed elements take on a size imposed by their content/children. This is what sets up the infinite loop problem, no?

Is it

[2014-06-17 17:20] tabatkins commented on #7
Browsers aren't generally happy with drastically changing how they do layout based on style information, because that means they can't usefully start doing layout early (they might have to throw out a whole subtree of work when they realize it's viewport-ish).  They want something that can be determined at the markup level, hopefully.

[2014-06-17 17:39] uniqname commented on #7
I was hoping to avoid that with the deferring of rendering the specific element doing the querying, but I admit I don't know enough about layout engines to know if that would matter enough.

[2014-06-17 17:48] tabatkins commented on #7
"Rendering" is one thing, but layout calculations are another, and an element becoming viewport-ish can change the entire page's layout.

[2014-06-17 18:41] davidjgoss commented on #7
This syntax idea is far from thought through, but I might be worth throwing into the ring.

[code]

This is expressing: "When there is an element that matches the selector ".block" whose computed style matches the query "min-width:615px", apply these rules only descendants of that element".

I'm hoping that having a selector for the container in the `@container` -part will avoid the need for an at

[2014-06-17 18:44] Wilto commented on #7
Ah—suuuper early to start talking syntax. There are a lot of technical things we have to sort out way beforehand, just to see whether there _can_ be a viable approach to this.

[2014-06-17 18:52] davidjgoss commented on #7
@wilto Yeah sorry, jumping ahead with the specifics of the syntax, but my main thought was whether the viewport- ish elements being declared in CSS with selectors like that would be an option technically as opposed to markup.

[2014-06-17 19:13] yoavweiss commented on #7
+1 to having "viewportish" hints in markup. Is go further and say that the actual dimensions should be available at preload time, if we want to throw responsive images into the mix (and I think we would want that).
So they'd have to be either in the markup itself, or inlined

[2014-06-17 21:58] tabatkins commented on #7
I think that's unnecessarily limiting; having the element respond to its surroundings by, say, being in a grid layout is very useful.

We shouldn't restrict this _more_ than the existing <iframe> case, I think.

[2014-06-17 22:09] yoavweiss commented on #7
Possibly. We should be aware that not having the viewport dimensions at preload time would mean that internal responsive resources (mostly images) would have to relate to the global viewport, rather than to the element's viewport (or not be preloaded at all).

[2014-06-18 00:06] simevidas opened #8 "Incorrect box colors in diagram"
In the narrowest layout (see screenshot below), the boxes should have a red background, not a blue one.

![color](https://cloud.githubusercontent.com/assets/716405/3308359/2fb90848-f67c-11e3-8bc7-c3f5115e115d.png)

Also, consider using 3 different colors (A, B, C). It took me a while to figure out the relations because I wasn't sure which boxes are A and which are B :)

[2014-06-18 15:52] kylegach commented on #4
We (http://civicplus.com) build a CMS for local governments that allows the editor of a page to drop Widgets (e.g. A small calendar with a list of events, related FAQ questions, etc...) into Containers on that page, which can be of varying, flexible widths (and can also be split into columns, but the example stands if simplified to not include that feature). Similar to the example in the current U

[2014-06-20 00:15] peterwilsoncc commented on #4
Perhaps subtly different to the existing sidebar use case, is an example in which a sidebar can be toggled by the user.

The class - or other DOM changes - used to open/close the sidebar could be outside the tree containing the elements with the EQs.

![sidebar-toggle](https://cloud.githubusercontent.com/assets/519727/3335251/b02abadc-f80f-11e3-8194-9e729241d7b6.gif)

[2014-07-31 18:14] #8 closed, assigned to nobody

[2014-08-08 17:15] jonathantneal opened #9 "Element Query race conditions"
@davatron5000 is cataloging the CSS properties that may trigger race conditions for element queries. I’ve put them into a list to share with you:

https://gist.github.com/jonathantneal/5996a3e9b33d7a6afa5d

[2014-09-02 17:07] jehoshua02 opened #10 "Typo: "then below thatm two across.""
I believe there is a typo in there. Search for "then below thatm two across." s/thatm/that/

[2014-09-02 17:18] jehoshua02 commented on #5
I thought I was the only one thinking about these things when I wrote [breakpoints.js](https://github.com/reusables/breakpoints.js). There is a [demo page](http://reusables.io/breakpoints.js/demo/) where I feebly attempt to show how it works (hosted on github pages; seems to load slowly some times).

The benefits I've observed in using breakpoints.js are 1) all breakpoints defined cleanly in one p

[2014-09-02 17:32] jehoshua02 opened #11 "Element query should be based on element width."
I propose element queries should be based not on the parent width, but on the element width. The element might be constrained in some cases to a fixed width while the parent may be larger.

I would modify [the document](http://responsiveimagescg.github.io/eq-usecases/) as follows:

I haven't read any farther than this yet. There may be other modifications necessary to keep everything in harmony.

[2014-09-02 17:33] jehoshua02 opened #12 "Anchor links?"
Would it be easy or worth it to add anchor tags throughout [the document](http://responsiveimagescg.github.io/eq-usecases/) to link to individual paragraphs in issues and things?

[2014-09-02 17:35] tabatkins commented on #11
Can you give an example of where this would help that couldn't be addressed by just putting the styles into the element directly?

[2014-09-02 17:39] jehoshua02 commented on #11
Hello @tabatkins! I'm excited by the effort I'm seeing here.

In order to answer your question I'd need to see a more concrete example of the proposed element query syntax.

[2014-09-02 17:44] jehoshua02 commented on #11
What about something like this?

[code]

If the syntax were something like this, I would expect it to be based on the `.element` width, not it's parent.

[2014-09-02 17:58] jehoshua02 commented on #11
Maybe that looks too much like a normal css rule?

[code]

I would expect this element query to be evaluated for each element matching selector `.element` and the styles only being applied to that individual element if that individual element's width matches the criteria.

Did I just open a can of worms?

[2014-09-02 18:39] jcommelin opened #13 "Typo: we would be then be able"
There is a "be" too much on https://github.com/ResponsiveImagesCG/eq-usecases/blob/gh-pages/index.html#L641

[2014-09-02 18:44] tabatkins commented on #11
Syntax doesn't actually matter; I was just looking for an example of what you'd actually want to do with it.

Seems like element width is either pre-known (if it's a definite length) or directly calculated from the container's width (if it's a percentage); the former means you can just write your CSS against that length, the latter means you can use an EQ against the container width.  EQ against t

[2014-09-02 19:45] jehoshua02 commented on #11
To be honest, I haven't been working with element-level breakpoints long enough to have some really solid examples.

The reason I brought it up is that It feels illogical to rely on the parent width when what you really care about is the element width. And when looking at the code, I'd want to read it something like this "When the element has a width of X, style it and it's children like this ..."

[2014-09-02 19:48] jehoshua02 commented on #11
What I could do for experience is branch [breakpoints.js](https://github.com/reusables/breakpoints.js) and see what [it would look like](http://reusables.io/breakpoints.js/demo/) if I base it off parent width and get back to you.

[2014-09-03 01:32] peterwilsoncc commented on #12
[tabatkins/bikeshed](https://github.com/tabatkins/bikeshed/) is used to generate the document, it automatically generates IDs for headings that can be referenced. Paragraphs do not have IDs - presume becuase they are likely to change/be reordered.

[2014-09-03 01:54] jehoshua02 commented on #12
Yeah, and I just realized it's in github. Could easily link to source code.
On Sep 2, 2014 7:32 PM, "Peter Wilson" notifications@github.com wrote:

[2014-09-03 16:34] tabatkins commented on #11
If you just need to style the children, that means _the element itself is the container_ (for the children).  They can respond to the element's width using the existing mechanism.

[2014-09-15 16:47] msach opened #15 "Typo: "The goal is to demonstate a need""
In para 2, sentence 2 of http://responsiveimagescg.github.io/eq-usecases/#intro

"The goal is to demonstate a need"

should be

"The goal is to demonstrate a need"

[2014-09-15 16:48] msach opened #16 "Typo: "a method of allowing content respond to its container’s dimensions""
In para 2, sentence 2 of the Intro:

"a method of allowing content respond to its container’s dimensions"

should be

"a method of allowing content to respond to its container’s dimensions"

[2014-09-15 16:50] msach opened #17 "Typo: "to facilitate the constuction of layouts""
In para 2, sentence 2 of the Intro:

"to facilitate the constuction of layouts"

should be

"to facilitate the construction of layouts"

[2014-11-04 01:08] alanmoo commented on #11
It seems that the current use case proposal is based on modular elements wrapped in columns used for layout (think Bootstrap). By basing the element query on the width of the parent, this use case works beautifully, as layout and components are on separate levels within the DOM.

One use case that comes to mind where it might be necessary to rely on the width of the element itself is when flexbox

[2014-11-04 01:13] alanmoo commented on #9
I know this falls under the technical aspects of EQ's, which we're nowhere near yet, but is there some sort of precedent or compatibility issue in which saying that CSS properties that trigger layout will be ignored in element queries? (Though I'd assume compatibility is moot since the query itself will be ignored entirely similar to the way in which media queries are ignored on older browsers.)

[2014-11-04 01:27] tabatkins commented on #9
That makes it worthless, since the whole _point_ is responding to the size of the container, and often sizing yourself appropriately.

[2014-11-04 02:02] jehoshua02 commented on #9
Or did you mean, for example, ignoring setting of width of an element in a
width element query on the same element?

My opinions:

To me that makes sense to avoid recursive element query problems.

But setting the width on an inner child element is perfectly valid.
On Nov 3, 2014 6:13 PM, "Alan Mooiman" notifications@github.com wrote:

[2014-11-04 02:15] alanmoo commented on #9
@jehoshua02, that is what I was thinking of. Clearly it needs to be fleshed out more, but I wanted to get the ball rolling on how this might be handled, as it's probably one of the bigger technical issues EQ's will encounter.

[2014-11-04 02:44] jehoshua02 commented on #11
@alanmoo I might be missing the point of your comment. I also might be bikeshedding. Let me know.

If I understand correctly, we have a series of blocks in a container. To style the blocks, particularly the layout of content within the block, you can attach the EQ in two places: on the container or on the blocks within the container.
1. EQ on container. Not so modular for styling the block since a

[2014-11-04 02:50] tabatkins commented on #11
All of your use-cases are about styling the contents of a block based on the size of the block.  That's an EQ-on-container, where "container" is the block and "stuff responding to EQ" is the contents of the block.

Maybe you're interpreting "container" too literal-mindedly?

[2014-11-04 03:12] jehoshua02 commented on #11
Bottom line: Something rubbed me the wrong way about the wording in that paragraph. My proposed change isn't quite right either. So I need to help come up with something else. How about this?

Also, there's probably fewer use cases for it, but what about other properties besides width? There's nothing in the EQ name that says it's limited to just the width property.

[2014-11-04 03:29] jehoshua02 commented on #11
@tabatkins Yes. Everything is a block. And most use cases are setting EQ on block and styling contents.

I think I was just looking for consistent language. After all, it is an "element query". Not a "parent query".

To me it wasn't clear enough what a "breakpoint" is, what it's "applied" to, what we are styling (the EQ target element's children and/or itself), and what the target of the EQ is (wi

[2014-11-04 03:38] jehoshua02 opened #19 "When we get there: Evaluate EQ's per Element."
I want to be sure that EQs evaluate per element. I can have two elements, matching the same selector, but not necessarily the EQ at the same time.

I do this in [Reusables Breakpoints](https://github.com/reusables/breakpoints.js).

[2014-11-04 03:45] jehoshua02 opened #20 "What about Javascript?"
There may be times I want to execute some javascript when EQ matches or unmatches.

One definite use case for this I've encountered so far is with rendering ads in responsive designs. I don't want to inflate impressions with ads that aren't being displayed. So I want to defer rendering of the ads until they are going to be displayed in a responsive design.

Let's say I want to render ads in a colu

[2014-11-04 05:07] tabatkins commented on #19
I'm not sure what you mean.  Can you give an example?

[2014-11-04 05:17] tabatkins commented on #11
Again, styling children is fine, with the EQ magic that makes the parent pretend it doesn't have any children when sizing itself.  But styling the element itself is really circular.  However, none of the use-cases you've described seem to require that.

It queries the size of an element, as opposed to a "media" query that queries the medium the page is rendered on.

The terminology around "breakpo

[2014-11-04 14:30] jehoshua02 commented on #19
Maybe this is too technical of a concern for right now? But here's an example.

I have a list of "deals". The first deal is the "hero" deal. It takes up the width of the container. But the rest of the deals flow into columns. I have several EQs on the deals to adjust their content layout however is most appropriate for the width of the deal. Let's call these "small", "medium", and "large".

The EQ

[2014-11-04 19:37] tabatkins commented on #19
Still not sure what you mean.  I think you have a different idea of how this stuff works than I do.  Can you provide a markup example? (Just make up some example syntax where necessary.)

[2014-11-04 19:56] #13 closed, assigned to nobody

[2014-11-04 19:56] #15 closed, assigned to nobody

[2014-11-04 19:56] #16 closed, assigned to nobody

[2014-11-04 19:56] #17 closed, assigned to nobody

[2014-11-14 22:54] marcoscaceres commented on #10
Seems this was fixed at some point.

[2014-11-14 22:54] #10 closed, assigned to nobody

[2014-11-14 22:56] marcoscaceres opened #22 "Use case doc should not propose a solution"
I'm a bit bothered to see a solution proposal in the use cases document. The use cases document should really only make recommendations about what the requirements are, but not propose a solution itself. What is could do is instead point to proposed solutions - and discuss the pros and cons of those.

[2014-11-14 22:59] marcoscaceres commented on #20
This sounds interesting. You would want some kind of `matchMedia()` support.

[2014-11-14 23:00] marcoscaceres commented on #12
We usually link to definitions or concepts instead of sections or paragraphs. I would suggest closing this, as BS will automatically generate the appropriate anchor points.

[2014-11-15 01:43] tabatkins commented on #12
Yeah, headings, definitions, issues, and a few other small things auto-generate IDs with Bikeshed, and get clickable permalinks. That's generally all you need.

(If, for example, there's a list that you want to make linkable, manually adding an ID to the `<li>` or `<dt>` will make Bikeshed generate clickable permalinks as well.)

[2014-11-15 01:43] #12 closed, assigned to nobody

[2014-11-15 02:03] Wilto commented on #22
Yeah; I was talking about this with @zcorpan the other day. It’s in the works.

[2014-11-17 11:55] zcorpan commented on #22
http://ircbot.responsiveimages.org/bot/log/respimg/2014-11-11#T100310

[2014-11-17 22:44] marcoscaceres commented on #22
I can try to be of assistance if needed.

[2014-11-19 20:28] Wilto commented on #22
Absolutely, @marcoscaceres. You know we always need all the help we can get.

[2014-11-24 17:47] marcoscaceres opened #24 "Use case doc doesn't need a conformance section"
This is a non-normative document, so shouldn't have a conformance section.

[2014-11-24 19:52] tabatkins commented on #24
Needs different boilerplate, is all.  Like, maybe set it to NOTE status, then add a `footer-ricg-note.include` file with the stripped down footer.

[2014-12-03 04:40] alanmoo commented on #19
@jehoshua02, I think the use case in the doc covers exactly the behavior you're describing. The EQ would be checked against each element it applies to, not uniformly applied to all elements on the page based on the sizing of one specific element. (Unless of course that specific element is the one with the EQ on it, which is where we're going to get into implementation EQ-ception trouble...maybe no

[2014-12-03 15:34] jehoshua02 commented on #19
@alanmoo Yes. Evaluating EQ against each element seems like an obvious one. I wanted to bring it up because I want EQs to turn out right.

@tabatkins For example, let's say I have something like this:

[code]

And an EQs something like this:

[code]

The `.deal--hero` might match `$large` while the `.columns .deal` elements match `$small`. The element queries are evaluated per element. Again, seem

[2014-12-03 16:01] tabatkins commented on #19
@jehoshua02 Ah, I understand now.  Well, I don't understand why you thought it could possibly be any other way, but I at least get what you're asking about now.

Yes, elements in different contexts, responding to different EQ containers, will evaluate differently.

This is partly why I don't think the example syntax you're using is very good here.  Better to integrate it into Selectors proper, and

[2014-12-03 16:10] jehoshua02 commented on #19
@tabatkins Ah, that's brilliant. I definitely like the pseudo-class selector.

I'm new to standards development. Where can I learn more about the process? Is anyone talking about implementation, syntax, polyfill?

[2014-12-03 16:14] tabatkins commented on #19
That's what you're doing right here. ^_^

[2014-12-05 03:50] alanmoo commented on #19
@tabatkins But as per other issues, this is more of a use case repo. Or are we keeping the actual code use cases, but discussions can be other things?

(Also, yes, pseudo-class syntax makes a lot of sense)

[2014-12-16 08:14] PaulSpr commented on #20
Can't we already bind resize events to elements? Then check element size and perform an action if necessary.

Also, assuming that Element Queries would be build in CSS using some kind of selector syntax, couldn't we use CSS selectors to detect if we need to do something if a certain matching element appears?

[2014-12-18 04:59] jonathanKingston commented on #9
I was thinking of this today actually - then found this issue. As a quick idea I thought you could perhaps block properties of the element with the query that matched the query.

For example (I picked the most non css syntax possible to show the example not the code):

[code]

So when the element became over  800 wide only red would be applied to the div but the img would become 150px wide.

I'm s

[2014-12-18 08:43] yoavweiss commented on #9
What we've discussed in the latest call was that having an element's style dependent on that element's style is circular by definition, and not something we should be supporting. What we're after is styling elements based on properties of a "special" containing element (which dimensions can't be impacted by its descendants).

[2014-12-18 12:03] jonathanKingston commented on #9
@yoavweiss I read that in another post somewhere.  My initial worry was does that scale if every element was 'special'. However that certainly does simplify the problem.

[2014-12-18 12:44] yoavweiss commented on #9
I'm not a fan of making every element 'special'. See https://www.youtube.com/watch?v=A8I9pYCl9AQ

I think that we need EQs to serve as module boundaries, so you can develop things relative to the module. If you really must have an element react to its own dimensions, add a wrapper around it, and declare the wrapper as "special".

[2014-12-18 13:44] jonathanKingston commented on #9
Heh yeah that's why I wasn't calling it special.

I'm thinking of every web component able to have this behaviour if it chose. In my templates instead of writing html I aim to just write in application specific web components where the components contain the html itself. Like you say these are completely self contained modules that the template author has power of the box size and the parameters p

[2014-12-18 14:43] PaulSpr commented on #9
This might be off-topic, but thinking about Element Queries I assume that the "components" aren't really self contained, but that they inherit CSS of the rest of the website. That's the general consensus right? The way Jonathan describes this makes it sound a bit like some sort of iframe with self contained HTML & CSS.

Regarding size: Setting width must still be possible at least in percentages.

[2014-12-18 15:07] jonathanKingston commented on #9
@PaulSpr that's a great question and I have seen the feature mentioned as an iframe. This is similar to the behaviour of shadow dom.  This is how I was thinking but also like the shadow dom I was expecting the parent to have control over what was exposed from the shadow dom.

The second issue is that yes floats can go haywire but they couldn't cause a potential infinate loop of changing widths.

[2014-12-18 15:14] PaulSpr commented on #4
A secondary use-case could be better responsive backgrounds. We can now change backgrounds based on window dimensions, but it would probably be much more efficient (bandwidth wise) to do this based on element dimensions. The element is usually smaller than the window which means that a small background is enough. Or even better have a small, square and wide background and load the appropriate back

[2014-12-18 16:49] jehoshua02 commented on #9
This is a case I think I would ignore and leave it up to developers to not do dumb things.

Consider this:

[code]

Doing something like this is silly and no web developer should ever do something like this. I wouldn't waste any time writing guards against stupid stuff like this into the browser or spec.

[2014-12-18 17:04] Wilto commented on #4
_Nice_. Great stuff, guys—thanks.

[2014-12-18 17:24] jonathanKingston commented on #9
@jehoshua02 I'm a fail hard sort of programmer too but user agents could not just crash though so some error handling would have to happen.
Also it would allow third party exceptions to add another vector to wreak havoc on their client sites.

[2014-12-18 17:46] PaulSpr commented on #9
I did some checks with a browser inspector. If you change the width of the body it won't switch apply extra media queries of you exceed your breakpoints. This got me wondering.

A solution is to match EQ to the dimensions the element would logically have if it didn't apply any weird forces, like a block element with `width: auto`. That is probably a predictable method, but sometimes not logical. I

[2014-12-18 17:50] tabatkins commented on #9
@jehoshua02 Sorry, but that's impossible.  Just saying "don't do it" doesn't work; you still need to define what it does.  After all, it'll do _something_ - if it crashes, that's exploitable, so browsers wouldn't crash; if it doesn't crash, then it has some particular (undefined) effect, and devs will end up depending on that behavior.  Since it's undefined, browsers will initially do different th

[2014-12-18 17:56] jonathanKingston commented on #4
The main use case for me as I said in #9 is:

Having element queries for a web components allows components to be self contained. I think that with this separation template authors could concentrate on laying out these reusable blocks with far less care of the contents of the components.

To the extreme I feel this means a content author can write html in a lego style fashion with a reduced need f

[2014-12-18 17:58] tabatkins commented on #9
@jonathanKingston

Nope, doesn't work either. :/  As you note, children also have an effect - that's why the EQ container is going to have to ignore its children for the purpose of determining its own dimensions.  But also, any communication channel opens up the possibility for loops. [Check this example for toggle-\* properties](https://tabatkins.github.io/specs/css-toggle-states/#checked-problem

[2014-12-18 18:19] jonathanKingston commented on #9
@tabatkins I fear an example like this would come along. Does my other comment around this feature being more than just a special case cause issues?

My other comment around allowing the child to impact the parent would be possible so long as the user agent rejects the side impacts of applying further queries within this query. I get however that's potential to be messy as you stated however.

[2014-12-18 18:36] jehoshua02 commented on #9
@tabatkins Okay, okay, you're right. We gotta define what it'll do.

[2014-12-18 18:51] Wilto commented on #9
Wait, go back to the “fire rain” thing? That doesn’t sound _so_ bad. I mean, I’ve seen worse standards.

[2014-12-19 06:15] jehoshua02 commented on #20
@PaulSpr Yes we can listen to resize on the window and check element size and do stuff. But defining and evaluating breakpoints without a library is messy. That's why I wrote [Breakpoints.js](https://github.com/reusables/breakpoints.js).

Using selectors in javascript would be a familiar and consistent interface for element queries in javascript. If I knew what the selectors would look like Breakp

[2014-12-21 10:06] SaraSoueidan opened #26 "allow `font-size` to be based on element width"
I’m currently working on a redesign of my website and have been using viewport units for larger headlines. Viewport units are perfect for creating fluid-sized text without having to resort to media queries to specify a font size based on those. (That being said, we do need to use media queries at present to “limit” the font size to a minimum and maximum, otherwise it will become too small on very

[2014-12-21 10:10] SaraSoueidan commented on #26
It’s worth noting that the calendar entry’s width is currently specified in percentages, which means it’s relative to the size of the container **whose width is set relative to the viewport** using `vw`. So the size of the entry isn’t really based on the content inside it. I realize the problem would persist with floated elements, though.

[2015-02-05 16:30] wnr commented on #11
Hello all.
I'm doing my Master's Thesis regarding element queries. I've been lurking around for a while reading your discussions. Now I've got to the point where I feel like I need to start asking questions. I hope I won't be too troublesome for you guys :)

@tabatkins When I first thought about how EQ would work, I too as @jehoshua02 based my approach on having the queries targeting any element (

[2015-02-05 17:06] jehoshua02 commented on #11
@wnr I think in the end, @tabatkins and I realized that we were talking about the same thing. What I was trying to point out, not very articulately or precisely, is the inconsistency in language. They are "element queries" -- queries against an element. Not "container queries". But they are essentially the same thing, it's just what element, or context, from which you are looking at it. I apologiz

[2015-02-05 18:47] ChrisBAshton opened #29 "JavaScript Polyfill"
I came up with [Localised CSS](https://github.com/ChrisBAshton/localised-css) before I found out about the Element Query movement. Glad to hear that there's some progress on this!

In the meantime, Localised CSS could be used as a polyfill for Element Queries. [This blog post](http://ashton.codes/blog/localised-css/) justifies some of the design decisions for the API.

Any feedback would be apprec

[2015-02-06 14:23] wnr commented on #11
@jehoshua02 Thank you for your quick response. From what I understand of your discussion here I don't  think you are talking about the same thing.

Forgive me for bringing syntax into the discussion (but I feel like it's needed to not get confused about terminology). If we forget about valid use cases for a while, there is clearly a difference between the following two approaches:

Let's say we ha

[2015-02-06 17:02] jehoshua02 commented on #11
@wnr I vote for approach #2. That's what I imagine when I think EQ. Is syntax abstinence stultifying our discussions?

[2015-02-06 20:13] PaulSpr commented on #11
Aren't both approaches the same thing? From what I can gather you would be able to set an EQ on any element and you wouldn't need to specify a child unless you wanted to. That would be a weird constraint given how CSS selectors all currently work.

What might be meant with the container is that the containers width would be used in determining of an EQ matches when the element it is specified on h

[2015-02-06 20:29] PaulSpr commented on #11
Re-reading this thread I think everyone is talking about the same thing and has the same goal. The confusion is around how widths for the EQ element are determined.

I think we shouldn't allow the element on which the EQ is on the set it's own width, but that is will of course listen to it's own width (which is the entire point of EQs).

A containing element would however be able to set children w

[2015-02-08 11:42] wnr commented on #11
@PaulSpr

I realize now that I wasn't too clear in my example of approach 1. I indeed meant that in approach 1 you can only query parents, meaning that you are required to specify a child in the selector. This is my interpretation of what @tabatkins is recommending (and probably rightfully so due to implementation specifics). So with that clarification, the two approaches are clearly not the same.

[2015-02-08 17:56] PaulSpr commented on #11
@wnr I always assumed that approach 2 was the way EQs would work. So I also agree with the more vague description.

That said, even though we are now in the use-case phase of the proposal, how they would actually work _is_ important. Especially given the main use-case: Creating adaptive layout pieces.

A good example is the representation of a book, let's call it a cover layout, with a title, cove

[2015-02-08 19:18] wnr commented on #11
@PaulSpr I agree. So how do we move forward from this? Any input from an owner of this repo? I'll create a PR in the meantime.

[2015-02-08 20:59] tabatkins commented on #11
The fundamental technical issues against an element's styles depending on themselves still apply.  We can't reasonably apply selectors against an element's own width for styling itself; it has to be a container with certain properties (namely, that it no longer pays attention to its children when computing certain dimensions of its size).

I recognize that this makes some cases harder to write, an

[2015-02-08 20:59] #11 closed

[2015-02-08 22:58] jehoshua02 commented on #11
@tabatkins

So you are saying that this ...

[code]

... is technically impossible?

Bummer.

[2015-02-08 23:17] tabatkins commented on #11
Rather, that allowing that implicitly allows cases that _are_ technically impossible.

[2015-02-09 09:57] wnr commented on #11
Okay so we at least have a definite answer now, and are not stuck in the "we are talking about the same thing". For those of you that are unfamiliar with the constraints that Tab is talking about here is a mail conversation that I think explains it pretty good: http://markmail.org/search/?q=%22The+%3Amin-width%2F%3Amax-width+pseudo-classes%22#query:%22The%20%3Amin-width%2F%3Amax-width%20pseudo-cla

[2015-02-11 23:45] pdaoust commented on #19
I also think the pseudo-class syntax makes the best sense. A couple thoughts:
- When applied to `:root`, element queries provide the exact same functionality as dimension-based media queries, and can be used in their place by anyone who wants to (not an important point, I suppose, but an interesting one).
- @tabatkins I love the idea of using comparison operators. All of a sudden I can make a quer

[2015-03-11 01:48] yoavweiss opened #31 "Container Queries"
As [discussed](http://ircbot.responsiveimages.org/bot/log/respimg/2015-03-05#T117108), it'd probably align expectations better if we rename the whole thing "Container Queries" (or equiv) rather than "Element Queries" (since we cannot query on based on any arbitrary element in the page).

[2015-04-20 14:14] adamdbradley opened #32 "What's acceptable for the element query polyfill"
I was hoping to layout the various hacks that can be used for the polyfill, and open up a discussion of what is and is not acceptable.

Matching:
- Object Element: Using matchMedia on a nested object element within the container.
- window.resize: On resize do a check on each container.

Configuration:
- document.styleSheets: Loop through each rule and check if it has EQ information
- Element attri

[2015-04-20 20:52] tysonmatanich commented on #32
document.styleSheets doesn't work for cross-domain requests, which is a common use case for sites using a CDN etc. I used JS to register the selectors but this is a total hack - https://github.com/tysonmatanich/elementQuery#selector-registration.

[2015-04-21 14:00] wnr commented on #32
Have an EQ polyfill been discussed anywhere? I can't find anything in the mail archive or in the IRC logs.

[2015-04-22 02:40] adamdbradley commented on #32
@wnr I recall that creating a polyfill was discussed somewhere, but maybe I made that up or it was from other reference, idk. I guess a better question is if there's a goal that a polyfill could be created for element queries, or is it not realistic being that it'll probably involve CSS that would be invalid on today's browsers.

[2015-04-22 10:05] wnr commented on #32
@adamdbradley Okay I understand, thought I missed something for a second.
I think creating a polyfill is a perfectly valid goal. My Master's Thesis actually aims to create a framework to realize element queries. There are many approaches, and my studies have shown that there is no silver bullet to element queries. In roughly two months my thesis will be done and you can then read my verdict and ho

[2015-05-29 22:03] Wilto opened #33 "“Element Queries” -> “Container Queries”"
Just like it says on the tin.

[2015-05-29 22:05] marcoscaceres commented on #33
GADDMIT, NOW WE NEED A LOGO!

[2015-07-03 18:18] pdaoust commented on #7
I could be wrong, but I feel like, if CSS containment (specifically layout containment; paint containment isn't relevant for container queries) were accepted, this gets solved for us for free. A container query automatically gets an implicit `contain: layout` declaration.

@tabatkins mentioned that the hard work would be in convincing a browser to do relayout for a whole subtree once it discovers

[2015-07-03 20:24] pdaoust commented on #7
You know, another thing that gets weird is the `vw` unit and its cousins. Which viewport do they refer to if container queries are always creating new viewports? Again, I'd vote for 'nearest viewporty ancestor'.

[2015-07-03 20:31] pdaoust commented on #26
There's a discussion in issue #7 about CQ's overlap with the CSS Containment. `contain: layout` would prevent an element's contents from affecting its layout, essentially like making it a mini-viewport. In that case, perhaps viewport units would always be connected to their nearest viewporty ancestor's dimensions?

In terms of flow (floated containers, for example), I think that if the contents di

[2015-07-03 20:33] pdaoust commented on #7
Just thought of something else. If `contain: layout` prevents contents from influencing the size of the container (as if it were `overflow: auto`) what happens to flow? I don't want my container to be influenced by the _width_ of its children, but I _do_ want it to be influenced by the _height_ of its children. Now what? `contain: layout-x`? That seems ugly.

[2015-07-06 17:44] tabatkins commented on #7
It's actually substantially harder. Layout containment is just giving the ability to delay some parts of layout, and lay out other parts of the page in parallel safely. _Responding_ to nested layout via selectors is much crazier, requiring swapping back and forth between layout and styling engines multiple times during display of the page.

CQ containers aren't actually viewports, just viewport-is

[2015-07-06 18:23] pdaoust commented on #7
@tabatkins thanks for the response. I think I need to understand containment a little better. Am I correct in understanding that it creates the opportunity for parallel layout precisely because it declares "this element's children will have no influence on its size, and thus have no influence on other bits that need layout"? And following from that, once you eliminate side-effects, you open the do

[2015-07-06 19:44] tabatkins commented on #7
Right. `contain` is all about enabling parallel layout and cheap, predictable-cost updates and such, by very strictly limiting how much of an effect something can have on the rest of the tree.

Yes.

Sure.  `contain:layout` doesn't do anything crazy, fundamentally.  It flips some switches in the layout algorithm, and that's it.  (There might be some complicated stuff going on to take advantage of

[2015-07-06 20:17] pdaoust commented on #7
Awesome, thanks so much for the insight. You obviously know a thing or two about the inner workings of browsers (oh ha, just looked at your bio and I see that may be a gross understatement); thanks for filling in the gaps for me that I wasn't aware even existed.

So what's the other 5%? That looks like a pretty complete set of features to me! :-)

[2015-07-06 20:46] tabatkins commented on #7
The other 5% is making them work correctly when you change the width of a CQ container in script and then immediately do `getComputedStyle()` on a descendant. A _correct_ and _full_ implementation would respect CQs there and give you correct information; an implementation in script with the tools I outlined won't.  (You have to get back to the event loop and wait for a resize event to hit, so you

[2015-07-06 22:30] pdaoust commented on #7
hmm, so without that 5%, any script that relies on the computed styles of the children to be correct would have to do something like `requestAnimationFrame()` before it accesses those computed styles?

[2015-07-06 22:32] tabatkins commented on #7
Yeah, something like that.

[2015-07-09 23:15] serapath commented on #32
I found those:
- https://github.com/KyleAMathews/element-resize-event
- https://github.com/marcj/css-element-queries

[2015-07-09 23:15] serapath commented on #29
I found those:
- https://github.com/KyleAMathews/element-resize-event
- https://github.com/marcj/css-element-queries

Maybe those help?

[2015-10-06 13:55] ausi commented on #32
I created a prolyfill too: [ausi/cq-prolyfill](https://github.com/ausi/cq-prolyfill).

The idea about how they work can be found in ResponsiveImagesCG/container-queries#3.

[2015-10-06 16:58] serapath commented on #32
There are so many opinions on this.
What about making it controllable from a javascript API?

Think about something like react, where you assign a certain CLASS to an element in JSX and then you use the "container query API" to assign resiz behavior to it?

So it would be cool to split stuff into modules to have the best performing "resize sensor" in it's own module and then use it for different p

[2015-10-07 19:15] wnr commented on #32
Hi all,

I've finished my Master's Thesis now, and I think the result is close to what you describe @serapath.
I have created a library called ELQ, which aims to be a solid foundation for element queries.
The result is a JavaScript API that is very extensible, and a few plugins that implement different element queries API's.
As a side result, two supporting projects have been created: [element-res

[2015-10-07 20:09] ausi commented on #32
I’m not sure if this is possible, as my prolyfill works a bit different than most others:
- The “container” is selected by the script which needs to know the computed style and the cascaded style of all elements (e.g. the difference between `width: auto` and `width: 100%`). The selected container is not fixed and may change.
- The breakpoints are dynamic and may depend on the `font-size` of the co

[2015-10-08 00:30] serapath commented on #32
Interesting :-)

What is: https://github.com/wnr/elq-dummy ? elq-grid depends on it.

And https://github.com/wnr/element-resize-detector  depends on https://github.com/wnr/batch-processor which does not depend on elq-grid ...

From what you describe above, i feel a plugin architecture in general is not nice.
Bad examples: `grunt`, `gulp` :-)

Why wouldn't you instead make your library a useful "se

[2015-10-08 06:35] wnr commented on #32
@ausi

It is my goal that ELQ should be a suitable foundation for most prolyfills, so if it is not compatible at the moment, I gladly redesign some bits to make it even more general.

My solution does not assumed fixed elements.

This is also supported, if by dynamic you mean that breakpoints are able to change. ELQ also currently supports breakpoints with unit "px", "em", or "rem".

This is on my

[2015-10-08 12:42] serapath commented on #32
I think it's in general nicer if you can just use modules, e.g. `uglifyjs` instead of the need to wrap it in order to use it as `gulp-uglify` or `grunt-uglify` ... so you create stuff that's only useful with those "ecosystems" and not without. That's kind of like a "vendor lock in" and people need to write code multiple times to adapt it to certain tools.

That's why I like `npm scripts` where i j

[2015-10-08 13:47] ausi commented on #32
I think too that using just modules would be nicer. Independent modules from which a creator of a prolyfill can select would probably be more useful.

I don’t really see the use case for a big element query system where I can plug in different prolyfills. Why would someone want to use multiple element query prolyfills on the same page?

[2015-10-09 10:24] wnr commented on #32
I understand, and agree that vendor-lock in is a drawback.
However, I think we are comparing different things, as `uglifyjs` is a general and useable component by itself where ELQ plugins are more of extensions of an existing code base.
Is `jQuery` bad because they also allow developers to extend it with plugins?
Is `ESLint` bad because one may write custom rules?
Is `lodash` bad because it is pos

[2017-03-02 16:20] #33 closed

[2017-03-02 16:20] #31 closed

[2017-03-02 16:39] beep opened #36 "Requirements section?"
Given some recent activity in [the container-queries repo](https://github.com/ResponsiveImagesCG/container-queries/) (e.g., https://github.com/ResponsiveImagesCG/container-queries/issues/6; https://github.com/ResponsiveImagesCG/container-queries/pull/7), a question: how does the RICG evaluate the quality of a proposed implementation?

Along the lines of [@Wilto’s comment](https://github.com/Respon

[2017-03-02 16:40] beep commented on #36
(Ah, jinx—the above overlaps with [@Wilto’s comment](https://github.com/ResponsiveImagesCG/container-queries/issues/6#issuecomment-283703717) on https://github.com/ResponsiveImagesCG/container-queries/issues/6.)

[2017-03-02 16:49] Wilto commented on #7
This viewport-ish behavior is, ironically enough, something that gets kinda talked in circles. How do we distill this down to a one or two line capital-R Requirement, a la http://usecases.responsiveimages.org/#requirements ? @tabatkins, it feels like:

is about halfway there, yeah? Any thoughts there?

[2017-03-02 16:53] Wilto commented on #7
( Starting to get those requirements together in https://github.com/ResponsiveImagesCG/cq-usecases/issues/36 )

[2017-03-02 18:45] Wilto commented on #26
Heads up: @beep opened an issue to start distilling things down to iron-clad requirements, a-la http://usecases.responsiveimages.org/#requirements

@SaraSoueidan, @pdaoust: we’ve love to have you both involved there.

[2017-03-02 18:47] beep commented on #26
Thanks, @wilto! The issue’s available at https://github.com/ResponsiveImagesCG/cq-usecases/issues/36, if folks want to review it.

[2017-03-02 18:57] Wilto commented on #26
whoop meant to link that i am not good at compu

[2017-03-02 18:57] beep commented on #26
*extremely same voice* extremely same

[2017-03-03 00:39] tomhodgins commented on #36
If we were to add a Requirements section to this document what would it look like for element queries?

Over the course of developing EQCSS we've run into a number of roadblocks and decision points that have shaped the syntax into something that has been incredibly useful to work with. I feel like some of these discoveries and decisions are going to be similar to what these requirements specify, I

[2017-03-20 22:25] Wilto commented on #36
These requirements, like the [respimg ones](http://usecases.responsiveimages.org/#requirements) should only be super high-level, and used for framing any implementation conversations around the feature—no syntaxes, no gritty details. For example:

“Responsive images _are_…” As for more detailed requirements:

“Responsive images have to be as accessible as regular images” was an immutable requireme

[2017-03-20 22:36] tomhodgins commented on #36
Thanks, that's a helpful translation between english to 'spec-ese' :D

I'll see what I can come up with for a section like this, I spoke with somebody who was searching for sections like this in various CSS specs recently so I have another perspective on what people reading these details are looking for!

[2017-06-02 22:24] eeeps opened #37 "Can we require no FoUC/jank on initial load?"
All existing experimental prollyfills are susceptible to some form of FoUC/layout jank.

As elements are laid-out, and then queried asynchronously[1], before being, possibly, re-laid-out, re-queried, &etc — it’s hard (though maybe not impossible?) to implement CQs in a way that doesn't take a few paints to settle down.

This is why Shopify abandoned their CQ solution: https://twitter.com/dfmcphee/

[2017-06-02 22:31] eeeps commented on #37
Related: https://github.com/ausi/cq-prolyfill/issues/39

**EDIT** Note that this thread invalidates my opening statement. `cq-prolyfill.js` in the `head` is FoUC-free (but slower to arrive at a finished page than FoUC-y `async` or `defer`).

[2017-06-05 16:35] eeeps opened #38 "Require ability to use with <picture>?"
Eventually, I want to be able to do something like:

[code]

Dunno if it’s worth stating this use case in this document, or whether we should just figure out container-queries-in-CSS first, and then figure out how to plug them into HTML later.

[2017-06-05 16:58] eeeps opened #39 "Use case: user-resizable elements"
The main use-case in the doc, right now, is modular components that can appear in a variety of different contexts. It’s a real drag to write and maintain different media queries for each potential context.

If elements are user-resizable – e.g., `textarea` by default or anything with a CSS `resize` != `none` – there’s no way to work out an element’s size from the size of the viewport; media querie

[2017-06-08 07:47] ausi commented on #39
I think the `texarea` example would be an element (not container) query because the styles would depend on the width of the element itself. This could result in the recursion issue very quickly, like:

[code]

It should only work if a parent element is resizable I think.

[2017-06-08 23:19] eeeps commented on #37
So, turns out, "async" doesn't mean what I thought it meant, and this is, I think, a non-issue. See https://twitter.com/etportis/status/872575323757436928. Closing.

[2017-06-08 23:25] eeeps commented on #39
Yeah, in that case, you’d have to make a resizable wrapper, and prevent resizing directly on the textarea, like this: https://codepen.io/eeeps/pen/YQwyPz?editors=1100

[2017-06-09 22:12] eeeps opened #40 "Require runtime evaluation?"
In a lot of cases, container queries are a developer-convinence feature.

In other words — you *could* write Media Queries; there's a deterministic relationship between viewport size and component state — but Container Queries would be much more compact, DRY, understandable, explainable, & maintainable.

I sort of hesitate to suggest it, but if the inherent layout performance penalties involved in

[2017-06-09 22:23] tabatkins commented on #40
Doing so requires you feeding layout information to the system in some way.

[2017-06-09 22:29] eeeps commented on #40
And I guess while the system has access to your CSS, it doesn't have access to the browsing environment (e.g., user styles). Hm.

Note that this is also true for most of the media-queries-for-components that people are writing everywhere all of the time right now. But the "system" there is the media query author, who's assuming things.

[2017-06-10 08:47] ausi commented on #40
I thought of that in the past and I think it’s possible to write a PostCSS plugin that can achieve that, but the features would be way less powerful than what the JS runtimes offer.

I just posted a draft of how I think this could work: <https://gist.github.com/ausi/6f74afbd75127151addfe75f81cfe5da>

[2017-06-13 11:14] eeeps opened #41 "Real-world usage examples"
I'm thinking we can use this issue as a grab bag for examples of in-the-wild container query use.

Don't worry about whether it's a New Use Case, or worth posting — just post!

[2017-06-13 11:18] eeeps commented on #41
For starters – Tommy Hodgins listed 519 sites that were using EQCSS, back in March, here: https://docs.google.com/spreadsheets/d/1wAdVV5S0WnRDuN-p42J6DHGfVP0Hq2vfeeKaeiEJ7Eg/edit#gid=266571668

[2017-06-19 17:44] andykirk opened #42 "Another voice in favour..."
Hi,

I find it a shame that not much is happening in this area. A while back I wrote this:

https://www.sitepoint.com/responsive-css-patterns-without-media-queries/

It didn't elicit much response (though it was referenced by Ethan Marcotte: https://ethanmarcotte.com/wrote/on-container-queries/), but I thought I'd post it here for prosterity.

Personally, I can't wait for Container Queries to be a

[2017-06-19 21:01] andykirk commented on #19
Hi, just chiming in here.
There's a reason media queries don't use &lt; and &gt;.
From [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries)

Most media features can be prefixed with "min-" or "max-" to express "minimum condition" or "maximum condition" constraints. For example, "max-width:12450px" means the highest condition for applying the styles is, the medi

[2017-06-19 21:29] eeeps commented on #19
@andykirk have you seen https://www.w3.org/TR/mediaqueries-4/#mq-range-context ?

Parsers are already smart enough to deal with angle brackets in different contexts, e.g. https://codepen.io/eeeps/pen/EXWRJY

[2017-06-19 21:45] tabatkins commented on #19
That was an *extremely* old restriction, and stopped being relevant a very long time ago in HTML. In XML it just means you either have to escape the angle brackets or use CDATA.  As @eeeps says, MQ4 already allows the angle brackets (tho implementations have been a little slow to support them).

[2017-06-19 22:02] andykirk commented on #19
Ah, right. Thanks for the update. I couldn't see any date-relevant or updated info on MDN, I just knew I'd seen something about that topic somewhere and I thought it was pertinent.
Apologies. Just trying to be helpful. :-)

[2017-06-20 15:42] tomhodgins commented on #41
Here's what I usually check: https://publicwww.com/websites/eqcss/

To quickly peek at what queries are loaded into EQCSS.js on any page where it is used, no matter their origin (`link`, `style`, `script`, or JS), you can open a JS console and view: `EQCSS.data`

You can expand to view the selector(s), condition(s), and the CSS rules held inside the query. I hope this makes checking out real-world

[2017-06-20 18:51] eeeps opened #43 "What do we want to be able to query?"
Element width, is an obvious one.

Height, sure.

Aspect ratio? Why not! But what about [arbitrary CSS properties](https://github.com/ausi/cq-prolyfill/blob/master/docs/usage.md#supported-css-properties), or, say, [lines of text](http://elementqueries.com/#min-lines) or [number of children](http://elementqueries.com/#min-children)?

There are use cases for all of these things. What's practical to

[2017-06-20 18:59] eeeps commented on #37
Double-turns-out, even though Canary, which I was testing with, currently runs async microtasks to completion before painting, [Firefox won't](https://github.com/WICG/ResizeObserver/issues/17). So the threat of a FoUC, with async evaluation, is real.

[2017-06-20 19:08] Wilto commented on #43
I think I’d want to keep this first pass focused on width/height—that way we can work out the _mechanism_ for container queries without needing to figure out/spec a whole mess of specific features up front.

That said, we should probably get the _idea_ of future query-able features into the use cases doc, so we don’t run the risk of locking the mechanism itself into width/height only.

[2017-06-20 21:16] eeeps commented on #41
Welp here’s 5000+ websites using [css-element-queries](https://github.com/marcj/css-element-queries): https://publicwww.com/websites/ResizeSensor.js/

[2017-06-20 21:30] tomhodgins commented on #41
and at least 200+ with @ausi's [cq-prolyfill](https://www.npmjs.com/package/cq-prolyfill): https://publicwww.com/websites/cq-prolyfill/

I also use [BuiltWith](http://builtwith.com) to search for sites using specific plugins, but unfortunately it doesn't let me share my reports publicly. You can preview a number of results from a report with a free account, so that's another handy tool for this ty

[2017-07-20 18:10] tomhodgins commented on #39
Here's are demos of the “make the font size 1.5em when the textarea element is wider than 400 pixels“ functionality in EQCSS, Selectory, reproCSS globally, and reproCSS using the container queries mixin:

[code]

So that's 4 ways to express the same logic. I feel like using `:media()` for functionality that relates to the width of an element is kind of a misnomer. Maybe somebody can explain how th

[2017-07-20 18:22] tomhodgins commented on #39
I've experimented with many different breakpoints, but I keep coming back to this core set of features:

- width
- height
- number of characters of text
- number of children
- scroll position
- aspect-ratio
- orientation

I've implemented these features in a few different plugins so you can see how it can work and what CSS + JS are required to make it work right now in the meantime. Hopefully stan

[2017-07-20 18:24] tomhodgins commented on #43
I've experimented with many different breakpoints, but I keep coming back to this core set of features:

- width
- height
- number of characters of text
- number of children
- scroll position
- aspect-ratio
- orientation

I've implemented these features in a few different plugins so you can see how it can work and what CSS + JS are required to make it work right now in the meantime. Hopefully stan

[2017-12-15 20:41] tantek opened #44 "Move to WICG to get more traction?"
As suggested by https://twitter.com/elrond25/status/941743760773283840 do people think it would help, make no difference, or hurt to move Container Queries to the WICG to restart/retry discussions to get more traction and momentum?
@Wilto @beep @adactio @jensimmons @keithjgrant @rachelandrew @innovati @dbaron and please @-more folks who have contributed / shown interest in helping make Container Q

[2017-12-15 20:51] Wilto commented on #44
+1 from me; 100% in favor of moving to the WICG.

[2017-12-15 20:54] beep commented on #44
A massive +1 from me, especially if this gets some momentum going.

[2017-12-15 21:01] scottjehl commented on #44
+1 if we think it might help get traction.

[2017-12-15 21:11] keithjgrant commented on #44
+1 from me if it will help break through the current logjam

[2017-12-15 21:55] tomhodgins commented on #44
+1 please

I wrote the CSS element queries spec about a year ago, and I've done so much research and writing about element/container queries since then that was just thinking recently that I really need to go through this spec again to reword and clarify some of the terminology I used. Now I have some excellent motivation! 😁

Since then I've also found a simple way to describe [element/container q

[2017-12-15 22:05] ZeeCoder commented on #44
Yeah, let's start the discussion!

@ausi @marcj @davatron5000 @filamentgroup @BoomTownROI @Snugug @tysonmatanich @d6u @walmartlabs @VinSpee @lemonmade
Feel free to join.

(☝️ All people who made a plugin / polyfill at one point.)

[2017-12-15 22:36] davatron5000 commented on #44
+1 from me. Keeping momentum on this has been difficult since we keep getting deferred by other specs. "Wait for CSS Containment. Wait for ResizeObserver. Don't waste time speculating on syntax."

[2017-12-16 02:00] eeeps commented on #44
+1 WICG, sounds good to me.

Step zero is to figure out what we're actually blocked on.

@tabatkins has a vision for how we move forward here. My conception of it is: ResizeObserver ([✔️](https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/z6ienONUb5A/GlHRa9S2AAAJ)) + ([✖️](https://drafts.csswg.org/mediaqueries-5/#custom-mq)) → ergonomic, performant prolyfills (which, I mean, we kiiiiii

[2017-12-16 09:38] marcj commented on #44
Since I got mentioned here 🙌:
What is exactly the goal here and how do you expect me to contribute? Did you guys look actually on real implementations first out there with hundred of thousands of installations before you start to create something own? Maybe compare usage-stats of current available implementation to understand what developers out there really want before creating a spec/product nob

[2017-12-16 10:57] ZeeCoder commented on #44
@marcj ☝️ In my mind that would be the exact reason of this discussion: look at what we have already, and decide on a syntax based on that, that's polyfillable and addresses concerns that stopped native approaches so far.

[2017-12-16 11:45] ausi commented on #44
+1 for moving to WICG.

Regarding a vision to move forward, I strongly believe that [CSS Conditions with Variables](https://discourse.wicg.io/t/css-conditions-with-variables/2048) would be a great step forward for polyfills towards being performant and stable.

[2017-12-17 04:54] d6u commented on #44
+1 yeah, why not 😆

[2017-12-17 06:06] jehoshua02 commented on #44
I'm new here. But if I had a time machine, I'd stop media queries from
being invented.

💯

On Dec 15, 2017 1:41 PM, "Tantek Çelik" <notifications@github.com> wrote:

[2017-12-20 12:57] ZeeCoder commented on #44
@tantek @Wilto So are we moving there?
Is there a link we could start the discussion at?

How is this gonna happen exactly? 🤔

[2017-12-20 15:03] tantek commented on #44
Awesome, I'm not seeing any objections from anyone so let's do this.

@marcoscaceres (co-chair WICG) can you help us out with how to steps to transition an existing effort to WICG?

[2017-12-23 08:25] marcoscaceres commented on #44
Happy to help. I can move it over. Once there, we will still need to lobby the right folks at various browser companies to get this moving.

@tantek and I can help ping the right folks on the Moz side. However, let’s time this right so it doesn’t vanish during xmas.

[2017-12-23 14:14] ZeeCoder commented on #44
Good point 👍

On 23 Dec 2017 09:25, "Marcos Cáceres" <notifications@github.com> wrote:

[2017-12-23 15:43] tomhodgins commented on #44
This is great news, thanks @marcoscaceres! :D

[2017-12-23 16:00] matchboxhero commented on #44
I'm a little late to the party but I'm onboard, thanks for the invite. Let me know what I can do to help!

[2017-12-23 16:03] VinSpee commented on #44
I am also late to the party but excited about this notion. I’d love to help in any way I can, code, docs, cat-herding, etc.

[2018-01-03 14:15] djlotus commented on #44
Before I start trying to research who has implemented what polyfills and why, does anyone know if anyone has done this or begun doing this?

[2018-01-03 14:19] ZeeCoder commented on #44
If you need a list of GitHub links, I have one.

[2018-01-03 14:21] ZeeCoder commented on #44
I've also been talking a lot with @tomhodgins too, since we couldn't stop ourselves.
I was waiting for the new forum to open before I presented that syntax we came up with.

I think we should probably wait until the new forum opens to share our thoughts.

[2018-01-03 14:22] djlotus commented on #44
That would be great. Is this a list of available polyfills or a list of site authors who have implemented polyfills? I would be much more interested in the latter to get a feel for exactly what problems authors are solving in practice (not just in theory) and what made them choose the polyfills they chose.

From my discussions with @tomhodgins and my lurking around other discussions it seems synta

[2018-01-03 14:30] ZeeCoder commented on #44
Unfortunately I only have the former:
- https://github.com/eqcss/eqcss
- https://github.com/ausi/cq-prolyfill
- https://github.com/marcj/css-element-queries
- https://github.com/tysonmatanich/elementQuery
- https://github.com/ZeeCoder/container-query

I'm sure polyfill authors can post some sites that use their solutions.

For example, [mine](https://github.com/ZeeCoder/container-query) is used by

[2018-01-03 15:24] tomhodgins commented on #44
There is currently _no shortage_ of element query plugins or syntaxes that can be used. I've also been maintaining a list of plugin authors over at: http://whoisworkingoncontainerqueries.com

Here are some of the syntaxes and plugins I've created (all listed below except EQCSS were built in 2017) to help me use the idea of element queries as different project needs arose. Much of the functionality

[2018-01-15 01:25] ZeeCoder commented on #44
So who's in charge for starting the discussion at the WICG? 🤔
I'm eager to discuss what functionality should even be considered for implementation, syntaxes and potential barriers for browser vendors, as well as experiences of plugin authors.

I do think that such a discussion would have to be very focused though, so I'm resisting the urge to spam my thoughts until we're set on how it's gonna actu

[2018-01-16 00:27] marcoscaceres commented on #44
Ok, back from vacation... let's start by moving this over :)

Now, we need to figure out who will edit and participate in the work.

Can folks here me know who is going to be involved? I need a list of collaborators. Should we set up a Hangout session do discuss the state of things and find a "champion" to drive this work?

[2018-01-16 00:30] tomhodgins commented on #44
Welcome back @marcoscaceres! You can count me in for sure :D

[2018-01-16 00:30] ZeeCoder commented on #44
Ah sorry didn't mean to bug you during your vacation. 😅
I'm in ofc!

[2018-01-16 00:33] djlotus commented on #44
I would love to participate.

[2018-01-16 00:56] marcoscaceres commented on #44
Ok, transferred:

- [x] the [use cases repo](https://github.com/WICG/cq-usecases/).
- [x]  the [spec repo](https://github.com/WICG/container-queries).

Did I miss anything? There are probably a few broken links now, so might be worth checking those.

Thanks folks who already said they are willing to collaborate. I'll wait for a few more folks to chime in and we can divide up roles and responsibili

[2018-01-16 01:00] marcoscaceres commented on #44
Folks who volunteered thus far, please join the WICG if you've not already done so:

 * https://www.w3.org/community/wicg/ (click on the "Join" button on the right-hand-side)

That will help us with any IPR concerns.

[2018-01-16 01:07] beep commented on #44
@marcoscaceres: I think I need to sign up for a WICG account, but I’d love to join.

[2018-01-16 01:44] ZeeCoder commented on #44
🙌 🎉

[2018-01-16 17:51] eeeps commented on #44
Count me in

[2018-01-16 19:07] bkardell opened #45 "broken link in readme"
link to https://responsiveimagescg.github.io/cq-usecases/ is 404

[2018-01-16 21:20] marcoscaceres commented on #45
Was fixed

[2018-01-16 21:20] #45 closed

[2018-01-17 07:33] ausi commented on #44
@marcoscaceres I’m happy to collaborate.

[2018-01-18 17:48] ZeeCoder commented on #44
@marcoscaceres what will "dividing roles and responsibilities" mean exactly? 😅

[2018-01-18 18:05] tobireif commented on #44
I just rewrote nearly all the @media rules in my current project to @element rules. The syntax and lib https://github.com/eqcss/eqcss/  by @tomhodgins are really useful! I hope we'll one day have element queries in CSS.

[2018-01-19 00:34] marcoscaceres commented on #44
We need folks to edit the spec and/or related docs - and in particular, a lead Editor. We also need folks willing to review pull requests and write tests, as well as to perform general cat herding (a person to basically act as "Chair" for the work, and make sure Editor's have whatever support they need, and that  the community is kept informed, etc.).

If you are new to standards, I would highly e

[2018-01-19 01:18] ZeeCoder commented on #44
I'll definitely give that one a read, thanks!
I'd be more than happy to join such a hangout.
(I'm in the UK)

Thanks for all the effort, I think it'll be worth it too!

[2018-01-19 01:20] tomhodgins commented on #44
I'm located in Toronto, and am game able join a meeting any time :D

[2018-01-19 16:35] beep commented on #44
@marcoscaceres I would love to be involved, and can absolutely make a conference call next week.

I should note my involvement with `picture`/RICG was tangential at _best_, so I may not have the experience to be a solo Chair. That said, I’m very invested in moving container queries forward, in any way I can; if that means editing/writing specs, or co-chairing the work, I’m happy to do so if I can

[2018-01-19 17:10] keithjgrant commented on #44
Am I required to provide my employer info when creating an account? I’m not doing this in any official capacity on their behalf

[2018-01-19 18:37] eeeps commented on #44
@marcoscaceres “[Co-]Chair” feels quite above my paygrade (I never had an RICG title but if I did I think it would have been “adjunct newsletterer”). But like @beep, I’m happy to contribute in whatever role, as long as I can (frequently) ask other folks with more qualifications and experience for help!

[2018-01-19 19:30] ZeeCoder commented on #44
@keithjgrant I highly doubt you'd need that.

[2018-01-19 23:43] cwilso commented on #44
@keithjgrant if your employer is a W3C Member, yes.  If they aren't, then
no.

On Fri, Jan 19, 2018 at 11:30 AM, Viktor Hubert <notifications@github.com>
wrote:

[2018-01-22 21:57] tantek commented on #44
Thank you @marcoscaceres! Looks like the mechanics of moving to WICG are now complete, so I'm closing this original issue as FIXED!

@marcoscaceres can you fork the "need lead editor" and "need chair" threads to new issues?

[2018-01-22 21:57] #44 closed

[2018-01-23 01:38] marcoscaceres commented on #44
Ok, I've sent invites to those that volunteered to be collaborators. If you didn't receive one, please let me know.

@beep and @eeeps, happy to mentor and support you (as are the rest of the WICG Chairs). All we need is a few folks to track status and generally make sure things keep moving forward - and keep the community informed. Remember, if things get out of hand, we just send in @Wilto 🥊. But

[2018-01-23 02:27] tantek opened #48 "need to decide on co-chairs"
Open issue / request / call as @marcoscaceres did in issue #44
Currently @beep and @eeeps have volunteered, on the condition that they can reach out for help and mentorship (which I, as well as @marcoscaceres and other WICG co-chairs are happen to do).

[2018-01-23 02:27] tantek opened #49 "need primary editor"
per @marcoscaceres comment in #44

[2018-01-23 02:27] tantek opened #50 "need kickoff meeting"
per @marcoscaceres comment in #44

[2018-01-23 02:29] tantek commented on #44
What @marcoscaceres said. I've created three more issues to follow-up on each of those (co-chairs, primary editor, kick-off meeting). Please follow-up in those with any specific suggestions, questions, etc. Let's keep this momentum going!

[2018-01-23 02:55] keithjgrant commented on #44
@marcoscaceres You can count me in too, if it’s not too late

[2018-01-23 04:45] marcoscaceres commented on #44
@keithjgrant done.

[2018-01-23 12:43] hereinthehive commented on #48
I first wrote a proof on concept of this kind of thing many years ago. If there’s a way I can help further conversations, I’d love to be involved

[2018-01-23 14:40] beep commented on #48
Thanks, @tantek!

Are a (co-)chair’s responsibilities written down anywhere? That’d be really helpful to take a look at.

[2018-01-23 15:35] tomhodgins commented on #48
I'm willing to help this initiative in any capacity, including this, if it helps get us toward a specification that can standardize this idea and move it forward!

I've been working on element queries research, creating plugins, and applying these concepts to sites I'm working on nearly daily since the end of 2014! I'm committed and invested to see the most come out of this standardization effort

[2018-01-23 15:44] tomhodgins commented on #49
I'm willing to do this role, or any others I can do to help move this effort forward. I have played around with [bikeshed](https://tabatkins.github.io/bikeshed/) and gotten a little practice at spec writing, and have written a couple unofficial dream specs, including a [dream spec for element queries](https://jonathantneal.github.io/css-db/#elementqueries) that mirrors the syntax and featureset of

[2018-01-23 15:50] tomhodgins commented on #50
I am located in Toronto and available for a meeting any time, any day.

Please add me to Google hangouts and/or Skype:

gmail ☛ tomhodgins@gmail.com
skype ☛ innovati

I know we have some europeans on the team, so a time that's early in the day for me in Toronto would ensure it's not already too late in the day for the europeans!

[2018-01-24 00:52] marcoscaceres commented on #48
@beep think of it as a "product/project management" role - key being that as Chairs, you and @eeeps:

 * support the Editor(s), by finding them reviewers, and solicit wider review from CSS Working Group, implementers, etc. along the way.
 * Manage the contributors, and repo (you have admin rights!).
 * Make sure that you get new contributors to sign the IPR agreement.
 * Help the community reach c

[2018-01-24 00:53] marcoscaceres commented on #48
@hereinthehive, would be great to have you involved. Maybe you can support @tomhodgins with technical aspects and review?

[2018-01-24 00:54] marcoscaceres commented on #49
@tomhodgins, that's great to hear.

[2018-01-24 01:04] marcoscaceres commented on #49
@tomhodgins, immediate thing for you to do would be to start triaging the issues in this repo and in the other repo.

Contributors, if you see and issue you like, please please assign yourself to them and start figuring out best way to close them. Coordinate wiht @tomhodgins on any proposed solution.

Otherwise, if you are new, please start by just reading the use cases document and the spec.

@to

[2018-01-24 01:23] beep commented on #49
Well, per #6 and #36, we were planning to focus on use cases and requirements before settling on a specific syntax. The EQCSS work might likely make for a good starting point for drafting a container queries spec, but it might be helpful to ensure we’re in agreement on high-level requirements first.

[2018-01-24 01:25] tomhodgins commented on #49
Great! Thanks @marcoscaceres. @ZeeCoder and I were brainstorming a list of potential issue ideas, so we can go ahead and create those issues this week to house discussions for individual topics and people can get started :D

As for bringing in my own spec text to replace the current one—I'm not sure if it would be easier to modify that document as it currently exists to suit the direction our disc

[2018-01-24 01:26] beep commented on #48
@marcoscaceres, this is massively helpful. I’ll take a look this week, and follow up with any questions. (@eeeps, if you want to chat directly, please drop me a line!)

[2018-01-24 01:30] marcoscaceres commented on #49
@beep nailing down the use cases/reqs sounds like the way to go! Please ping me if you need me to review those.

[2018-01-24 01:34] marcoscaceres commented on #50
I'm available from 8am (Melbourne time - GMT+10), except on Thursdays (your Wednesday). Again, it's not super critical that I join, but happy to make an effort.

I'm marcos@marcosc.com on the Hangouts and "marcoscaceres" on the Skypes.

[2018-01-24 01:45] marcoscaceres commented on #42
We should gather these kinds of links in the wiki - with maybe "tl;dr" summary of key points.

@andykirk, could you help start that off?: https://github.com/WICG/cq-usecases/wiki

[2018-01-24 06:20] andykirk commented on #42
Happy to.
I’ll have a think about how best to organise them.

[2018-01-24 09:00] hereinthehive commented on #48
@marcoscaceres Yup - happy with that! Any way to help this forward...you can count me in.

@tomhodgins: Let me know how I can best support you!

[2018-01-24 10:48] marcoscaceres commented on #42
Here what I’ve been doing for Payments https://github.com/w3c/payment-request/wiki

[2018-01-24 10:55] andykirk commented on #42
That's useful, thanks.

[2018-01-24 13:33] djlotus commented on #50
I am just outside of Washington DC. i can be available anytime after 5pm EST (GMT -5)
GMAIL: lotusdj1
I can aquire Skype is needed.

[2018-01-24 13:41] ZeeCoder commented on #50
Shouldn't we do this over the weekend? Saturday / Sunday?
Then we all might be able to make it.
I'm sort of in-between in London: GMT+0.

Someone would either have to get up quite early, or stay up quite late as far as I can tell. 😓

[2018-01-24 13:44] djlotus commented on #50
Indeed @ZeeCoder. Weekend is most likely best for me. Can be available anytime.

[2018-01-24 13:46] ZeeCoder commented on #49
We might as well share that list here @tomhodgins ? 😈

[2018-01-24 15:18] ZeeCoder opened #51 "London Meetup"
I'm not sure where else to discuss this: it seems I'll do a talk on container queries and how they work with react components.

If anyone has ideas on what I should not forget to mention, feel free to post a comment here.
I'll definitely talk about existing plugins, and about the movement at the WICG for example.

[2018-01-24 15:19] ZeeCoder commented on #51
Here's a link to the meetup, it's very popular with developers queuing at the entrance every month:
https://react.london/

[2018-01-24 16:16] tomhodgins commented on #49
The list me and @ZeeCoder ended up with were:

- Query targets: self, child elements and global scope (Talks about the targets and possible boundaries of queries.)

- What Query Conditions to Support (What are the essentials and what are just nice to have?)

- Circularity (What can browsers do about it?)

- "Media" Types (screen, print, etc) We probably need these too.

- Name for the Specificatio

[2018-01-24 17:08] beep commented on #49
@tomhodgins As requirements, some of those seem really great! Others seem a little fine-grained for this stage.

If it’s helpful, I liked how @Wilto [framed things last year](https://github.com/WICG/container-queries/issues/6#issuecomment-283703717):

(Emphasis mine.)

In other words, the requirements establish the high-level characteristics of a “successful” solution for container queries, and do

[2018-01-24 17:20] tomhodgins commented on #49
Don't worry @beep I understand, and I think the high-level discussion is what everybody is here for. It seems like you and @wilto got stuck on looking for use cases and requirements for a long time. I don't want this to be where momentum dies a second time.

The requirements for what the concept needs are pretty well understood by the folks here, many of us have written plugins and use these ideas

[2018-01-24 17:34] beep commented on #49
@tomhodgins I’m not sure what you’re proposing. Could you clarify what you see as the next steps?

Just to reiterate my position: the gap between a prollyfill/plugin and a native solution is _vast_. (Even when that plugin is as well-made as your own EQCSS.) So while there’s a considerable amount of prior art out there, getting well-defined use cases and requirements are what’s going to help us get

[2018-01-24 19:02] tomhodgins commented on #49
The next step is to create Github issues to house the discussions for these topics. We had organized them in roughly chronological order, so you'll notice things like 'naming' and 'syntax' come later on list because the content of those discussions would depend on the outcomes from some topics earlier on the list.

You said that some of our topic ideas were “really great” and some seemed a little

[2018-01-24 19:56] eeeps commented on #49
Re: input from browser folks – [this giant, five-year-old thread](https://lists.w3.org/Archives/Public/www-style/2013Mar/0368.html) is the best resource that I have found, as far as understanding the fundamental constraints that are going to be placed on this work by browser layout-engines. It’s mostly centered around the circularity question, involves lots of scary phrases that I pretend-erstand

[2018-01-24 20:06] eeeps commented on #51
*::wonders if we should start a Discourse or a Slack or something::*

**Edit**: or perhaps [a wiki](https://github.com/WICG/cq-usecases/wiki) will do?

[2018-01-24 20:17] ZeeCoder commented on #51
I think using Slack is a fab idea!
It would be much easier to discuss stuff like this for example.

Which is definitely not fit for a wiki :D

[2018-01-24 20:23] keithjgrant commented on #49
That one example is perfectly iconic: using width of container to determine which layout to use for the module within.

A second use case that follows logically: what about using height to determine the layout of the module? Then, other media-query-esque features, like aspect-ratio/orientation of the container?

I just thought of another, way-outside-the-box possibility: the darkness of the contai

[2018-01-24 20:24] tomhodgins commented on #49
Anybody interested in checking out the code being used with these plugins can use a source code search engine like one of these:

- [publicWWW](https://publicwww.com/websites/eqcss/) ($49/month)
- [BuiltWith](https://builtwith.com/plans) ($259/year)
- do you know of any others?

If we're going to be investing some money into researching this, we should have a clear idea of what we're looking for a

[2018-01-24 20:24] tomhodgins commented on #51
Discourse > Slack, as far as system resources go. Slack is a beast :'(

[2018-01-24 20:34] ZeeCoder commented on #49
I think it's important we have a **concise** list of requirement / use cases.
We basically need to zip all the things @tomhodgins refers to into something more digestible / approachable.

I think that would also make it more appealing for browser vendors: a simple set of features with clear goals and constraints is easier to consider / argue about.

[2018-01-24 20:36] ZeeCoder commented on #51
I usually run it in a tab and it's a-ok, but I'm on board with discord too

[2018-01-24 20:36] ZeeCoder commented on #51
Ah wait, you said Discourse? I have no experience with that one :D

[2018-01-24 20:37] ZeeCoder commented on #51
At a glance I would still prefer Discord, or Slack, but let's wait for others to chime in too. :D

[2018-01-24 20:37] tomhodgins commented on #51
Whoops, I meant Discord 👀 I have just started using it because Slack was too heavy for my Macbook Air :/

[2018-01-25 06:03] marcoscaceres commented on #49
@tomhodgins wrote:

This is true. But the requirements document helps me pitch this internally within Mozilla (who are not web developers!). When @tantek and I take this back to our implementation teams within Gecko, we need to have good answers to why this is needed (and why the polyfills are insufficient, and why this can't be done with Houdini, JavaScript, or whatever - basically, we need to an

[2018-01-25 06:32] bradkemper commented on #9
@jehoshua02

I don’t think you would have raw declarations inside the query. It would need rules with selectors, just like media queries. So, more like this:

[code]
At which point, the fact that you used `.my-element` in the query would make it special, so that its descendent would not affect the width of `.my-element`, regardless of its `display` property, `position`, or anything else that would

[2018-01-25 06:43] tomhodgins commented on #49
I've revised this shorter list as a springboard for further ideas based on the requirements section from the more sprawling [EQCSS spec](https://tomhodgins.github.io/element-queries-spec/element-queries.html#requirements)

Are these the kind of requirements we're looking for? If so, I can't imagine we'd have a solid list of requirements like this until _after_ we've had a few discussions and figur

[2018-01-25 07:00] bradkemper commented on #9
So in other words, since `width` is a feature being checked in the element query, its own width would be calculated as though all its descendents had zero `width` and zero `min-width`. But it’s height would be calculated normally,   because `height`, `min-height`, and `max-height` were not features of the query.

[2018-01-25 17:40] beep commented on #49
This is a real good start, @tomhodgins! A few off-the-cuff thoughts from me:

- Let’s make sure we’re standardizing on “container queries” for the name. (On reread, I realize that might have been caused a copy/paste from EQCSS; if that’s the case, please ignore this note!)
- We absolutely need a requirement on [avoiding circularity](https://www.xanthir.com/b4PR0). Something like, “In order to avoi

[2018-01-25 18:11] keithjgrant commented on #49
Regarding circularity: I agree this is going to be a very important point. But I want to make sure we’re careful how we approach it. Based on the current use-case, we *do* want a CQ to affect the container's layout—but only in the opposite dimension of the query.

For example, if we want to re-layout the module based on the container's width, this will, by definition, almost certainly affect the c

[2018-01-25 18:32] beep commented on #49
@keithjgrant Oh, that’s an excellent point. Thank you.

So just following that out a bit, presumably that’d preclude `and` queries, huh? Query the width and the height could change, _or_ query the height and the width could change, but _not_ both?

[2018-01-25 18:46] tomhodgins commented on #49
It wasn't caused by copy/paste, the term we use here should be the result of the **Name for the Specification** topic. Should we create that topic and discuss it?

This is the idea of the 'container' in container-style queries. This was the first topic slated for discussion as **Query targets: self, child elements and global scope (Talks about the targets and possible boundaries of queries.)** as

[2018-01-25 18:53] ZeeCoder commented on #9
What do you mean as if the children had zero width?
What if I have loads of inline blocks, where their size depends on the children's width, and say, I change the bg based on that?
Children should definitely be able to affect the width of a container.

But even assuming we accept those constraints, you still not escape circularity:
[code]
The above would cause circularity even if we apply the font

[2018-01-25 20:35] ausi commented on #49
@beep I think too that these conditions are out of scope, they are probably more related to the [`:has()` selector](https://drafts.csswg.org/selectors-4/#relational).

@tomhodgins I think the concept of such a selector is already present in CSS with the [“Reference Element Pseudo-class: `:scope`”](https://drafts.csswg.org/selectors-4/#the-scope-pseudo)

[2018-01-25 21:04] tomhodgins commented on #49
The `:has()` selector is for selecting elements that contain _other_ elements that match CSS selectors. If anything, `:has()` is more like a 'parent selector' than like element queries. In the case of testing an element's text content length, that's not really a child element or something a selector can select, so I don't see how it would relate to `:has()` at all — it's something `:has()` can't d

[2018-01-25 21:33] ausi commented on #49
I don’t know of any browser that removed support for `:scope`. It’s supported in every major browser except Edge (see [codepen](https://codepen.io/anon/pen/vpqMvG)).

Maybe you are thinking of `<style scoped>`? Because this feature was removed from browsers some time ago.

I totally agree! Maybe we should try to get this topic represented similar in the requirements? Meaning `width` and `height` M

[2018-01-25 21:53] djlotus commented on #50
I can only judge by who has posted here but it looks like 5:00 PM any Saturday would work well. Would be 9:00 AM in Melbourne (coffee time) and 10:00 PM in London.
when should we shoot for? The sooner the better.

[2018-01-25 22:06] tomhodgins commented on #49
[code]

In this example, shouldn't `:scope` refer to the `<ul>` element itself? It seems like it can only be used for the purpose of querying an element's children, but not used to select the element itself. In JavaScript what's the practical difference between:

[code]

Don't both of those lines equally refer to only those `<li>` elements inside the particular `<ul>` element that's selected in JS

[2018-01-26 08:10] ausi commented on #49
`querySelector(':scope li')` and `querySelector('li')` are practically the same, but `querySelector(':scope > li')` makes a difference for example as it only matches `li`s that are direct children.
And there is also a difference between `querySelector('ul li')` and `querySelector(':scope ul li')`, the first one matches, the second one doesn’t.

None that I know of, but I don’t see a reason why we

[2018-01-26 13:20] ZeeCoder commented on #50
That's perfectly fine for me. 👍

On 25 January 2018 at 21:53, james murphy <notifications@github.com> wrote:

[2018-01-26 14:53] beep commented on #49
Hey, there’s some excellent stuff here, but I feel this thread’s gotten a little off-scope.

If we’re looking for a lead editor, I’m hearing a lot of different perspectives: on the parts of the specification we should be focusing on first; on what constitutes “good” use cases; on various syntax discussions; and on relitigating the container queries name. And while all of these are excellent topics

[2018-01-26 15:03] beep commented on #50
Ach, the earliest Saturday I could do is 17 Feb. And while I think waiting a few weeks is fine—we’re not under a hard deadline here—if a weekday opened up in the interim, that’d be great for me.

[2018-01-26 15:03] beep commented on #50
Heck, I just tossed together a quick poll of 5pm weekday meetings:

https://doodle.com/poll/9gc58ythnvwswanf

If folks could choose the ones that work for them, maybe we’ll get a quorum going?

[2018-01-26 16:30] tomhodgins commented on #49
[No. It doesn't leave us without an editor.](https://github.com/WICG/cq-usecases/issues/49#issuecomment-359985645) Though I haven't gone through the standards process before, I am the only person here who has succeeded in writing a spec for element queries so far, and I'm willing and wanting to do this work, and it seems like you're trying to remove me from this role before the work can even begin

[2018-01-26 16:39] tomhodgins opened #52 "Discussion #1: Query Targets & Containment"
This topic is created as a place for us to discuss and determine the scope of the queries and the styles they can apply.

Things that need to be decided:

- Is there a 'container' concept?
- What would the limitations of a 'cointaner' concept be?
- Are certain properties/abilities blacklisted from affecting their parent?
- Does/should styles in the element query be able to affect global styling?
-

[2018-01-26 23:08] yoavweiss commented on #49
I think it makes sense to take a step back and look at the goal here. As I see it, the goal of this repo is not to just create a document, but to eventually enable shipping of a feature that solves the problems developers are facing, and which this community is set out to solve.

Creating a deliverable describing the use-cases and the requirements is needed in order to support those, but that is j

[2018-01-26 23:26] tomhodgins commented on #49
I'm sorry for closing the issue, and I'm not sure where I'm shutting down people's opinion so if you felt that way I am sorry for that as well. I think we've got a chance in this repository to start with a fresh discussion to work these ideas out, and I'm excited to help get that discussion going. I'm not trying to shut out opinions, I'm trying to collect and organize them, and the more the better

[2018-01-28 01:14] ZeeCoder commented on #50
Done with the vote 👍

[2018-01-28 01:44] JamesAnunda commented on #38
I say let's figure out the Container-queries first before I start plugging in the HTML.

[2018-01-28 14:47] ZeeCoder commented on #38
I concur, it seems like this'll be a bit harder to figure out too, since media="" can have the implicit target (viewport), while a container query will need to explicitly state what the query should be related to.

[2018-01-28 16:50] eeeps commented on #38
@ZeeCoder You're right that this gets complicated without an implicit target. Implicit targets are a possibility (e.g., [cq-prollyfill](https://github.com/ausi/cq-prolyfill) has ’em), but I agree with both you and @JamesAnunda that they, and this use case, are not important enough to be a requirement.

Tabling this to revisit in the (possibly rather distant) future.

[2018-01-28 16:50] #38 closed

[2018-01-28 17:34] ZeeCoder commented on #50
Note that even though I'm leaning more towards doing this over the weekend, I would be probably fine with most weekdays too.
Would the kickoff be between the 6 participants of this issue?

[2018-01-28 17:48] ZeeCoder commented on #51
In case someone's interested, I've sent in my abstract on what I'll try to fit in my 20m talk:
https://github.com/ZeeCoder/react-london-container-queries

On another note: shall we make a Discord channel then?
I'm not sure if we need it tbh, but worst case scenario we won't use it much. 🤔
/cc @eeeps @tomhodgins

[2018-01-28 17:57] ZeeCoder commented on #52
I'm not sure what you mean by asking if there's a container concept?
A container is an element that can contain other elements.
Coming with a React background I might as well call them Components, or in the BEM methodology, I would call them "blocks".
The idea is always the same, a reusable unit of elements with a clear boundary.

At least that is my definition, others might think differently, cc/

[2018-01-28 19:40] eeeps commented on #51
I went ahead and spun up [a Slack](https://containerqueries.slack.com). To signup, go [here](https://join.slack.com/t/containerqueries/shared_invite/enQtMzA2OTc5MDUwNjk1LTEwMWEzNjcwMTY1MGYzYWMyOGMxM2MzNDM1OGZjMjM3NDNiMDMxYTk0YjQxN2FjYTZkYmZkMDZmOWE1ODRkZWI).

Slack because:
1. I'm used it, and it was easy to set up.
2. I have zero data to back this up, but I *feel* like webby/engineer-y/design-y p

[2018-01-28 19:45] ZeeCoder commented on #51
Maybe just put it on the wiki plus we can link it whenever we think we need to move a particular discussion there.
Thanks for the setup btw, I've joined now. 👍
I believe the talk should be available, but I'll double check.

[2018-01-28 19:45] #51 closed

[2018-01-28 20:03] eeeps commented on #42
@andykirk *huge* thanks for firing up a Wiki. I’ve added a couple of sections, myself, based on discussions in another issue... seems like there are a lot of things that belong more properly in a shared knowledge base, rather than in issues.

Your article is going to be particularly helpful as we sketch out the limitations of current approaches, which should be a key part of the Use Cases doc. Any

[2018-01-28 20:31] ZeeCoder commented on #49
As I see it @tomhodgins sort of picked up the mantle based on this [comment](https://github.com/WICG/cq-usecases/issues/49#issuecomment-359983758) by @marcoscaceres .

While I don't have a problem with that, I support talking things over at the kickoff.
Therefore I would close this issue in favour of the kickoff meeting:
https://github.com/WICG/cq-usecases/issues/50

I hope we can do something nex

[2018-01-28 20:32] ZeeCoder commented on #49
👆 How does that sound @yoavweiss ?

[2018-01-28 21:35] andykirk commented on #42
Thanks @eeeps, I’m happy to give it a go. May not be for a few days though due to other commitments. Thanks for the heads-up about signing up to be a WICG member.

[2018-01-28 21:47] yoavweiss commented on #49
Either on a separate GH issue or a blog post. A blog post is probably better for long form explanations (which we could later potentially sum up).

Could be. I haven't followed up the discussion all that closely, so it's very likely I'm missing some more things that need to be spelled out. The larger "meta" questions we'd need to answer are: "Why is this thing needed?", "who will it help?", "in wh

[2018-01-28 22:26] eeeps commented on #42
I'll go ahead and close this issue, fire up a new one about a limitations section, and assign you.

[2018-01-28 22:26] #42 closed

[2018-01-28 22:33] eeeps opened #53 "Need a section outlining limitations of current techniques"
Like [this](http://usecases.responsiveimages.org/#limitations-of-current-techniques), but for Container Queries.

@andykirk, who wrote an [excellent article](https://www.sitepoint.com/responsive-css-patterns-without-media-queries/) outlining a bunch of use cases and current-workaround-techniques, has agreed to give this a go, soonish (I’ll assign him as soon as he accepts the collaborator invite).

[2018-01-28 22:42] eeeps opened #54 "CONTRIBUTING.md is empty"
It should, at the very least, tell folks that they need to sign up for the WICG first.

[2018-01-29 01:35] eeeps commented on #22
@marcoscaceres ircbot.responsiveimages is down (dead?). Reading the doc, I'm not clear on which part or parts cross this line. Something here, maybe?

[2018-01-29 01:50] marcoscaceres commented on #49
@tomhodgins wrote:

I'm pretty sure this is not what @beep said or is trying to do. I'm frankly a little bit concerned to be reading this 😔 More below, where I try to clarify what the role of Editor is...

@yoavweiss wrote:

Exactly - this list is critical. I think I said similar things elsewhere. We should make separate issues for each of those, and attempt to answer them (as pull requests, into

[2018-01-29 02:27] marcoscaceres commented on #54
Good point. You can also take basically this as the boilerplate:

https://github.com/WICG/web-share/blob/master/CONTRIBUTING.md

[2018-01-29 02:40] marcoscaceres opened #55 "List slack channel in README.md"
Be great to list the newly minted slack channel in the README and possibly in the CONTRIBUTING.md file... the same applies to the other repo.

[2018-01-29 02:42] marcoscaceres commented on #52
@ZeeCoder  wrote:

Seek a definition in the CSS spec - there has to  be something there :) But your definitions are good for clarifications.

[2018-01-29 02:47] marcoscaceres commented on #50
Unfortunately, I can't do this weekend, but next week mostly works. Added to the poll.

[2018-01-29 04:40] marcoscaceres commented on #22
@eeeps, unfortunately, I don't manage the IRC bot :( I can't remember who does.

In any case, the OP probably stands. @yoavweiss listed a bunch of question over in #49 that the document needs to answer instead.

[2018-01-29 05:57] marcoscaceres opened #56 "Add preview"
Please copy/paste this file to the root of the repo:
https://github.com/WICG/permissions-request/blob/master/.pr-preview.json

It will make reviewing pull requests much easier, as it generates the spec for us... better than looking at ugly BS-HTMLs :)

[2018-01-29 13:40] ZeeCoder commented on #52
@marcoscaceres do you think there's already something in the current CSS spec about container query? 🤔
I'm not sure I understand what I need to look for.

[2018-01-29 13:42] ZeeCoder commented on #55
Yeah, I might do this tomorrow unless someone is faster :)

[2018-01-29 14:10] #56 closed

[2018-01-29 14:16] ZeeCoder commented on #50
The 5th or 6th looks like the best for me so far.
I would land with my plane just around the start of the meeting on the 5th, so that one is a bit dodgy for me.
I think I could only join 30-40 minutes late, if I'd make it at all. :/

[2018-01-29 14:26] ZeeCoder commented on #49
All right so in light of all that:
would you still want to be (maybe one of) the editors @tomhodgins ?

Is there anyone else?

[2018-01-29 14:29] marcoscaceres commented on #52
No, just about “container” of some sort. @tantek?

[2018-01-29 14:30] ZeeCoder commented on #53
That's great!
I'll explore this area myself a little more as I prepare for my talk, so I'll leave here ideas for @andykirk .

[2018-01-29 14:39] andykirk commented on #53
Thanks both.

[2018-01-29 16:13] keithjgrant commented on #50
Added my votes

[2018-01-29 16:19] tomhodgins commented on #49
Yes, the description of what and editor needs to be and do sounds like something I can do for us :D

I'm not trying to inject my own opinions here—I have my own draft spec that's 100% full of my own opinions that I can fire up and write in any time I want. Not having an opinion of mine accepted here doesn't stop me from writing it somewhere else.

I'm not trying to inject my own solutions here—I a

[2018-01-29 19:13] beep commented on #50
@keithjgrant Thanks!

And thanks to everyone else who’s responded. We’ve got a couple strong candidates so far, but I’ll leave the poll open a couple more days—say, until 1 Feb—in case anyone else wants to vote.

[2018-01-29 19:28] tantek commented on #52
Current Selectors spec (L4) editor's draft: https://drafts.csswg.org/selectors-4/

There is a concept of "container" but it is about the element being selected, rather than any ancestors. e.g.:
* https://drafts.csswg.org/selectors-4/#the-target-within-pseudo
* https://drafts.csswg.org/selectors-4/#the-focus-within-pseudo

The key for any new use of "container" as a term (as in "container query") w

[2018-01-30 00:31] dennisgaebel commented on #41
It isn't in production, but the layout is very typical for a media component. https://codepen.io/dennisgaebel/pen/eGVpVp

[2018-01-30 00:55] dennisgaebel commented on #49
I don't desire to be a "primary anything," but what I would like to offer is any and all help to ensure whatever is written can be read and deciphered by a 6 year old.

[2018-01-30 02:07] marcoscaceres commented on #49
This is great all.

@tomhodgins wrote:

Correct. Though sometimes you'll be asked to jump into a plane. Get your pilot's suit ready👨‍✈️.

The Chairs are the ones that keep the airport running and the traffic control towers operational (and the rest of us employed... i.e., assigned to the right issues at the right time).

By the time we meet (#50), we should have a plan for how we proceed over the

[2018-01-30 13:44] ZeeCoder commented on #41
Yeah, "Media" components and social posts are great examples I think.
The latter being the reason I got into the whole thing.

[2018-01-30 14:53] dennisgaebel commented on #49
@marcoscaceres I appreciate that. Unfortunately I don't have time to track incoming pull requests, but If someone were to **ask** for my help on anything I will make myself available the best I can.

[2018-02-02 20:36] beep commented on #50
Hey folks! We’re going to have our kickoff call next week, on **6 February at 5pm (GMT-5 / NYC)**.

If you’re able to come, please add your preferred Hangouts account to this thread, if you haven’t already. I’ll send out invitations right before the call.

Thanks, folks! Excited to have our Actual Kick-off Meeting™ with you!

[2018-02-02 22:38] eeeps commented on #50
eric.portis@gmail.com

[2018-02-02 22:45] keithjgrant commented on #50
keithjgrant [at] gmail.com (hangouts only. Email is me [at] keithjgrant.com)

[2018-02-02 23:37] ZeeCoder commented on #50
rpgmorpheus@gmail.com

On 2 February 2018 at 22:45, Keith Grant <notifications@github.com> wrote:

[2018-02-02 23:43] jpamental commented on #50
jason@rwt.io

[2018-02-04 16:01] andykirk commented on #53
Hi,
Apologies for the delay in this. I hope to have a draft in the next few days.
Ok to post it here for comment?

[2018-02-04 17:18] ZeeCoder commented on #53
Yeah, I'll get a notification then

[2018-02-05 03:29] marcoscaceres commented on #50
mcaceres@mozilla.com

[2018-02-05 04:32] marcoscaceres commented on #53
Once we have some initial text, we should quickly translate it to "bikeshed" and start doing detailed review as a Pull Request. BikeShed's syntax is a bit of a burden of entry, so the quicker one of the folks editing the translate the incoming text, the better.

[2018-02-05 04:35] tomhodgins commented on #53
I can get the text we come up with into a bikeshed document, but I might need a little help with Github PR stuff as we get going :D

[2018-02-05 06:15] marcoscaceres opened #59 "Autogenerate index.html"
We need to find a way of having TravisCI autogenerating the spec. We shouldn't be seeing the generated version as part of a pull request. If generation fails, then it means something is wrong with the spec.

Maybe there is some guidance over in the BikeShed repo about this? Let's ping Tab if we don't find anything there.

[2018-02-05 07:04] marcoscaceres commented on #53
Sure, no problem. Happy to provide help with the PR stuff. Key is that we have a clean commit history and make sure we track who made the contributions.

When sending the PRs, particularly for ones like this one, we need to make sure that the author of the text is captured correctly, so:

[code]

[2018-02-05 07:10] tomhodgins commented on #53
@andykirk When you are ready to submit text to be added, it seems I'll need some information for proper authorship attribution ➸ how would you like me to reference you?

[2018-02-05 07:50] andykirk commented on #53
Thanks Tommy.

Andy Kirk <andy@andykirk.net>

[2018-02-06 07:42] maryroseMXXXVI commented on #50
Where I iving in different country I'm from the Philippines j

[2018-02-06 07:43] maryroseMXXXVI commented on #50
Do you have a spare charger I need it

[2018-02-06 11:49] ZeeCoder commented on #50
I'm just grabbing a quick bite and I'll be available.

[2018-02-06 12:18] ZeeCoder commented on #50
@beep Is it now or an hour later?

[2018-02-06 12:20] beep commented on #50
@zeecoder It’s at 5pm tonight, NYC time. So a little under 10 hours, I think?

[2018-02-06 13:18] ZeeCoder commented on #50
aaaah I thought GMT, not GMT-5.

[2018-02-06 17:40] hereinthehive commented on #50
Based on another thread looking for editors, I’ve been in touch with @tomhodgins and happy to join in tonight, if that’s cool

Skype: hereinthehive
Hangout: dan@hereinthehive.com or lookingintothesun@gmail.com

Is there an agenda for this meet-up?

[2018-02-06 17:52] tantek commented on #50
@beep: "tantek" on that google hosted email thingie (only for Hangouts - not email :)
@marcoscaceres shall we use the #wicg IRC on irc.w3.org? (minutes, logging, queuing etc.)

[2018-02-06 21:52] beep commented on #50
Invitations going out now! If you didn’t get one, please feel free to jump into

https://hangouts.google.com/hangouts/_/ethanmarcotte.com/cq-kickoff

in a few minutes. We’ll be starting at the top of the hour. See you folks sooooooooon i’m so excited

[2018-02-06 22:20] tantek commented on #50
A few of us (@tomhodgins @marcoscaceres at least) are in irc://irc.w3.org/wicg for chat backchannel (logged)

[2018-02-06 23:24] eeeps commented on #5
Per the back-and-forth with @keithjgrant in the kick-off: I'm gonna take these and a bunch of other links that I’ve ferreted away in my Pinboard over the years, and try to assemble a first draft of a “get-up-to-speed” summary/further reading page, for the wiki.

(And then close this.)

[2018-02-06 23:55] marcoscaceres commented on #50
In the rush, I took minutes in different channel... will post them soon. Just cleaning them up.

[2018-02-07 00:34] ZeeCoder commented on #50
wait so are we using slack or this irc? what's the difference?

[2018-02-07 00:35] ZeeCoder commented on #50
I went straight to Slack after 🤔

[2018-02-07 01:57] marcoscaceres commented on #50
[Draft Minutes are now available](https://github.com/WICG/cq-usecases/wiki/Minutes---Tuesday,-6-February-2018) - please feel free to correct any typos or things I recorded incorrectly or don't want attributed to you (I'm definitely not the best at taking minutes, so please check 'em!).

Also, please feel free to Tweet these out to let interested people know we've started the work! 🎉 As I said in t

[2018-02-07 10:07] andykirk commented on #53
Hi,
Here's a start. Apologies for the delay - I've struggled with this somewhat (both with time and subject). I've taken a few liberties with the definition - it's more difficult working outside of the context of the full document - but anything here can be changed, of course. I hope this is somewhere along the right lines.

---

## Limitations of current techniques

There is currently no native C

[2018-02-07 14:56] beep commented on #50
@marcoscaceres The minutes look excellent to me. Thanks so much for taking them, and for helping us get to this point.

Everyone else: thanks so much for joining us yesterday! I’m really, really excited to be working on this with all of you.

Consider this kickoff: HELD

[2018-02-07 14:56] #50 closed

[2018-02-07 15:25] jpamental commented on #53
This is an excellent overview @andykirk !

[2018-02-07 15:45] andykirk commented on #53
Thanks @jpamental

[2018-02-07 15:53] beep commented on #53
@andykirk This is _excellent_. Thanks so much for writing this up!

Out of curiosity, have you considered mentioning any performance drawbacks of JS-driven solutions? (I know @eeeps has done a little research into this.) I’m only asking because @marcoscaceres mentioned during the kickoff call that issues impacting end users are _really_ compelling to implementers, and speed/performance seems like

[2018-02-07 15:56] andykirk commented on #53
Thanks @beep - no, actually I hadn't. It's not an area I'm strong in, tbh.
It's a good shout though - perhaps someone with more knowledge of that are than myself can add something along those lines?

[2018-02-07 17:47] ausi commented on #53
@eeeps and I did some performance research on my container query script in ausi/cq-prolyfill#39. I can try to write something (short) up that describes the minimum performance costs of a javascript solution.

[2018-02-07 18:01] beep commented on #53
@ausi Marvelous, thank you! Adding you as a co-assignee.

[2018-02-07 18:39] ausi commented on #53
### Minimum Performance Cost of a Container Query Solution via JavaScript

On first render:

- About 3KB or more additional network traffic.
- About 6KB or more (minified) JavaScript code to parse.
- Downloading and parsing needs to be render blocking to avoid FOUC.
- At least one additional compute style step.
- At least one additional layout step.

After every subsequent render that affects the

[2018-02-07 18:45] jpamental commented on #53
I think that including @ausi 's addition is good, but I think that the stronger point is that layout is the domain of CSS, not JS (which is well known, and by design). So adding the 'and JS would be bad for performance too' should be a secondary reinforcing case.

[2018-02-07 18:50] ausi commented on #53
I fully agree.
Layout should not depend on JavaScript. This should be the main concern.

[2018-02-07 18:51] tomhodgins commented on #53
I'm curious about these numbers:

Is that 3kb for the gzipped plugin code? Are stylesheets included in that? And for 6kb are we saying the minimum size of a plugin for this is 6kb minified (but uncompressed)?

I just tossed my most recent stylesheet loader and element query plugin into Closure Compiler and minified it and I get <2kb uncompressed, 764 bytes gzipped, and this wasn't written with the

[2018-02-07 18:55] jpamental commented on #53
You make a good point @tomhodgins - I think that if we are going to include a performance consideration it's probably worth not talking specific numbers, but rather focus on the fact that it does require additional request, download, and processing resources as @ausi laid out above. Best to not get specific where not needed.

[2018-02-07 19:03] ausi commented on #53
Great point.

They are an average size of some general purpose container query scripts. There is no real minimum for the size because we didn’t specify the use cases yet and solutions can be very different.

I think you are right, we should probably remove these numbers. My intention was to note that the required scripts are huge in many cases ☺️.

How about this:

- ~~About 3KB or more~~ addition

[2018-02-07 19:15] beep commented on #53
Strong agree!

@ausi, I love your condensed list. Just me, but I think that’s the perfect level of detail for now.

[2018-02-08 02:36] marcoscaceres commented on #49
Given #50 and what we decided there, closing.

[2018-02-08 02:36] #49 closed

[2018-02-08 02:48] marcoscaceres commented on #53
What's the impact per element to which the JS is then applied (and what's a typical number of element to which CQ would be applied)? Does the browser then need to recalculate styles once or for each?

[2018-02-08 04:54] tomhodgins commented on #53
This is where the separation between ' virtual stylesheets' and 'events' makes a difference.

In some plugins, all element queries are treated as a separate stylesheet, and _all_ stylesheets are reprocessed upon each event (commonly `load`, `resize`, `input`, and `click` on the window object) In this instance, all styles get refreshed and trigger repaints any time any event that triggers a reproce

[2018-02-08 07:40] ausi commented on #53
An optimized CQ script should not have a significant impact per element. And for determining the minimum performance cost we should assume an optimal JS implementation I think.

This can be anything from one single element up to thousands of elements.

This also depends on the actual JS implementation. But in the optimal case one recalc/reflow should be enough (even for thousands of elements). Mor

[2018-02-08 14:00] beep commented on #26
Closing this out for now, per the ongoing use cases/reqs work. (Please reopen if #36 doesn’t address this.)

[2018-02-08 14:00] #26 closed

[2018-02-08 14:02] beep commented on #26
(Also pinging #43, for the overlap there.)

[2018-02-08 14:03] beep commented on #48
For now, @eeeps and some @beep fellow will be acting as the project’s co-chairs. Marking this done!

[2018-02-08 14:03] #48 closed

[2018-02-08 14:04] beep commented on #59
@marcoscaceres Sounds great, thank you.

@hereinthehive @tomhodgins, assigning this to you to investigate.

[2018-02-08 14:16] beep opened #60 "Need use cases section"
(Just opening a master bug to file against [our v1 milestone](https://github.com/WICG/cq-usecases/milestone/1).)

[2018-02-08 14:18] beep commented on #55
@ZeeCoder Just checking: has this been resolved?

[2018-02-08 14:30] beep commented on #20
Marking this as out of scope for [v1](https://github.com/WICG/cq-usecases/milestone/1), but we may revisit in the future.

[2018-02-08 14:30] #20 closed

[2018-02-08 14:32] beep commented on #37
Pinging #36 and #60, as this should definitely be captured/addressed in both sections.

[2018-02-08 14:38] eeeps commented on #20
It's probable that Container Queries in CSS are going to be built on hooks and primitives that are going to be exposed in JavaScript, first (e.g., ResizeObserver). The problems described by the OP are solvable, now, (though not in the simplest or DRY-est way) with ResizeObserver, but it would certainly be nice in the future when there's a CSS-y syntax to let you use that syntax in JS, too (like ma

[2018-02-08 14:48] ausi commented on #20
Yes, animations and transitions for example [`transitionEnd`](https://developer.mozilla.org/en-US/docs/Web/Events/transitionend)

[2018-02-08 14:55] eeeps commented on #32
Closing this, as polyfill techniques aren’t in-scope for work on the Use Cases / Requirements document.

@tomhodgins this issue reminds me strongly of what you were discussing yesterday, some kind of event or venue for plugin authors to talk/share experiences. IMO, you should set something up for that, as you're clearly not alone!

[2018-02-08 14:55] #32 closed

[2018-02-08 15:06] eeeps commented on #29
Added these and others to a [new page on the wiki](https://github.com/WICG/cq-usecases/wiki/Speculative-Prolyfills); closing.

[2018-02-08 15:06] #29 closed

[2018-02-08 15:18] eeeps commented on #5
Dumped everything in here into https://github.com/WICG/cq-usecases/wiki/Raw-informative-link-list for now; closing.

[2018-02-08 15:18] #5 closed

[2018-02-08 16:06] #54 closed

[2018-02-08 16:13] tomhodgins commented on #59
I'm not sure how to set this up to autobuild on commit in Github. Would that mean we would also be ignoring the HTML file so we could rebuild our own HTML as we edit, and then commit only the BS file to the repository?

Editing a Bikeshed document means rebuilding it a lot while working on it to try to get rid of those error messages, it can be a little picky at times.

Does anybody have more gene

[2018-02-08 16:18] eeeps commented on #20
@ausi did not know that. Thanks!

(I wonder if anyone's suggested events for media query breakpoints before?)

[2018-02-08 16:19] hereinthehive commented on #59
@tomhodgins I've only ever done this using NPM scripts...fairly sure I have!

[2018-02-08 19:44] ZeeCoder commented on #37
Is this an issue with a native ResizeObserver?

[2018-02-08 19:53] ZeeCoder commented on #55
Almost there https://github.com/WICG/cq-usecases/pull/62

[2018-02-08 20:19] beep commented on #37
Shortly after [pinging a bunch of issues](https://github.com/WICG/cq-usecases/issues/37#issuecomment-364129233) I had some coffee, and this probably could land in the `Limitations` section, huh? (#53) Like,

but, like, with Better Words, not those words

[2018-02-09 00:19] marcoscaceres commented on #37
@beep, those words are pretty good. If the FOUC is affecting a library in the wild, even better.

@tomhodgins, has this bitten you at all with the various things you built?

[2018-02-09 00:22] tomhodgins commented on #37
Absolutely :D I've written about one technique I used when building with EQCSS to work around it here: [How to avoid FOUC with EQCSS](https://codepen.io/tomhodgins/post/how-to-avoid-fouc-with-eqcss)

Basically the idea is…set `opacity: 0;` in CSS to make the element invisible immediately, then reset the opacity to `1` from a JS-powered style after the relevant JS-powered styles that apply to that

[2018-02-09 00:27] marcoscaceres commented on #37
Awesome! Remember, the goal here is to expose the limitations in the platform. So, documenting the hack, and possible side effects of that hack are important.

Noob question wrt Houdini.. they must cope with this somehow, no?

[2018-02-09 00:32] marcoscaceres commented on #37
Ok, so to close this issue, we basically should distill @tomhodgins [post](https://codepen.io/tomhodgins/post/how-to-avoid-fouc-with-eqcss) down as much as possible, and combine it @beep's words above. We then reference @tomhodgins post it as evidence that it's a problem that people have hit. If we know of other techniques, we should cite those too.

[2018-02-09 01:24] marcoscaceres commented on #59
Hey, so I poked around some of the other repos and found one that solves it:

https://github.com/WICG/picture-in-picture

We need to steal their bash script and travis file (and I guess encrypt credentials so that git merge  and push can happen back to the gh-pages branch). Effectively, we would go back to using a "master" branch, and auto-publish to the gh-pages branch.

Anyone feeling brave want

[2018-02-09 03:45] tabatkins commented on #59
At-mention me if you want me to pay attention to a thread. ^_^

Yeah, @domenic has a good auto-deploy-from-Travis script setup for the WHATWG specs; I haven't copied it into the Bikeshed docs yet because I keep forgetting where it is. Maybe he can enlighten us. ^_^

[2018-02-09 04:02] domenic commented on #59
https://github.com/whatwg/whatwg.org/blob/master/resources.whatwg.org/build/deploy.sh is our very comprehensive WHATWG spec build script, including e.g. HTML checking, linting, checking for errors/warnings before running the actual thing, generating commit snapshots separately from living standards, generating a service worker, ... Notably it doesn't upload to gh-pages.

Probably good enough for m

[2018-02-09 04:03] domenic commented on #59
Although https://docs.travis-ci.com/user/deployment/pages/ seems new and perhaps much easier.

[2018-02-09 04:29] marcoscaceres commented on #59
@domenic, thanks heaps! @tabatkins, we didn't want to bother you unless we got really stuck.

In any case, working out a generalized solution for this would be quite helpful (and adding that somewhere to BS's docs).. sounds like we are close to that with @domenic's script.

[2018-02-09 04:36] marcoscaceres commented on #59
So using [deploy](https://docs.travis-ci.com/user/deployment/pages/), looks like we would just run BikeShed as one would locally. That should be fairly straight forward. We probably don't need any additional scripts unless we want to do additional linting, etc., which I don't think we need for this doc.

[2018-02-12 00:53] tomhodgins commented on #53
## Iframes as Mini-Viewports

Iframes allow you to 'modularize' some HTML by embedding it in an HTML document as another HTML document. This lets you use media queries for 'modular' styles in a way similar to writing container queries.

There is at least [one plugin](https://github.com/edenspiekermann/iframify) that uses iframes to contain self-responsive 'modules' as part of a larger site layout.

[2018-02-12 02:35] marcoscaceres commented on #53
This is starting to take shape, so it would be good to start moving some of the above into a couple of pull requests (otherwise, we risk this becoming a mega thread).

[2018-02-12 06:59] andykirk commented on #53
Hi,
Just my opinion, but what @tomhodgins wrote above, though good, is quite verbose and to me it doesn’t look like it actually adds much in the way of new information to what I originally wrote. I’m not suggesting that what I wrote should be used as-is, but I based the length and level of detail on the responsive images equivalent that @eeeps linked to in the first post.

It would seem to me that

[2018-02-12 09:13] marcoscaceres commented on #53
Let's find a balance between the two. @andykirk let's use yours as the base of the pull request, and then @tomhodgins et. al can layer any additional information on top, if necessary... we can then chop chop chop words as needed.   

[2018-02-12 15:01] keithjgrant opened #63 "Document height-based CQ use case"
Following [this discussion](https://containerqueries.slack.com/archives/C90TV7Y15/p1518446737000654), document a use case with a height-based CQ. A banner with min-height specified in `vh` units, with three child elements.

If the banner element is beneath a certain height, the three elements should appear inline. If it is above a certain height, they can stack various ways.

[2018-02-12 15:03] beep commented on #63
Pinging #60. @keithjgrant, assigning to you for the initial draft.

[2018-02-12 15:22] keithjgrant commented on #63
Correction: don't use `vh`. Make it instead a grid item as part of a larger layout. The contents of the rest of the grid can affect the size of the banner element.

(If the layout is defined using `vh`, then regular media queries could solve the problem)

[2018-02-12 16:43] beep commented on #53
Sounds great to me, @marcoscaceres.

@andykirk (and/or @ausi), feel free to open a PR to tackle this! We can continue the discussion there.

[2018-02-12 17:58] beep commented on #59
@tomhodgins @hereinthehive Does https://github.com/WICG/cq-usecases/issues/59#issuecomment-364328947 provide a bit of guidance/assistance?

[2018-02-13 06:44] andykirk commented on #53
Great, happy to. I’ll think add @ausi’s JS parsing and nework bits to the JS section.

Also, can I clarify; am I meant to be opening the PR on the bikeshed file? Sorry if that’s a dumb question. I haven’t used bikeshed before.

[2018-02-13 06:47] marcoscaceres commented on #53
Not a dumb question at all! but yes, on the BikeShed file. Don't worry too much about getting the syntax right at this point. That's what we have @tomhodgins for :)

[2018-02-13 06:55] andykirk commented on #53
Great, thanks.

[2018-02-13 18:40] eeeps commented on #7
So, I read through this today, and — @tabatkins is several steps ahead of everybody, as per usual. A lot of this discussion deals with browser internals/constraints, which is really useful to know and understand, and will heavily influence implementation/spec discussions, later.

As for our *current* work, on use cases and requirements, the two clear takeaways for me are:

1. We need some kind of

[2018-02-13 19:30] beep commented on #7
+1! And I think `frustratingly vague` is a fine starting point, especially for v1.

@eeeps Would you like to fire up the new issue, or shall I?

[2018-02-13 19:51] eeeps commented on #7
@beep I'll give it a shot, hopefully this afternoon.

[2018-02-14 15:38] eeeps opened #65 "Require “performance”"
Everything that I read from people who understand the mechanics of layout leads me to believe that container queries are going to be necessarily more expensive than media queries, and potentially *much* more expensive.

Here’s a [choice example](https://github.com/WICG/container-queries/issues/3#issuecomment-185951645) from @dbaron (emphasis mine):

We should at least mention performance in the do

[2018-02-14 15:40] beep commented on #65
Thanks for writing this up, @eeeps. I don’t know quite enough about the problem space to volunteer. (But can, if someone could partner with me!)

I did want to call this out, though:

This seems like a really, really key distinction to me, and +1 to hewing to it as we work on this requirement.

[2018-02-15 19:48] beep opened #66 "Temperature check: preferred editing workflows?"
An excellent [workflow suggestion was raised by @marcoscaceres](https://github.com/WICG/cq-usecases/pull/64#issuecomment-365849291) on #64:

Generally, most of us [in Slack](https://containerqueries.slack.com/archives/C90TV7Y15/p1518718987000793) (reminder: [you can join us there](https://github.com/WICG/cq-usecases#join-us)!) default to the “merge PRs frequently, and iterate” workflow on collabor

[2018-02-15 23:53] tomhodgins commented on #66
Marcos knows how to get this sort of work done, so I trust his workflow if it's proven itself in the past. I'm a little new to on-Github collaboration with discussion inside of PRs like this—I'm used to using Git on other services where the the collaboration and discussion happens either before a merge, or after, but I'm not as familiar with all that can be done on Github during a PR (comments, in

[2018-02-16 05:38] marcoscaceres commented on #66
@tomhodgins

This is probably GitHub's most powerful feature. The ability for multiple people to go in and comment inline is extremely useful... specially because as comments get addressed by new commits, Github makes addressed comments automatically disappear.

In a sense, the comments work as a TODO list of things to fix... and once there is no comment left, then the Pull Request is merged.

Agr

[2018-02-16 05:39] eeeps commented on #66
What @tomhodgins said! (I'm new to all of these GitHub processes, trust Marcos, *and also* want to do everything I can to lower the [big, scary] bar to contribution).

[2018-02-16 05:46] marcoscaceres commented on #66
If you want to see what it looks like in practice, see, for example: https://github.com/w3c/payment-request/pull/666

There, a bunch of us reach attempt to reach consensus. I had to fix a bunch of things, answer a bunch of questions, etc. and then finally got some ticks. The PR has "cooked" for a more than a month now, but lots of folks had input, and lots of things got changed to reach it's curre

[2018-02-16 06:48] andykirk commented on #66
I’m not used to collaborating like this either, but I’m happy with either approach, and adapting as things progress.

[2018-02-17 11:57] beep commented on #66
Awesome—thanks, all! Since #64 is working out so well, let’s continue with that model for now. (We can definitely revisit that if it’s not working, too!)

Thanks again for weighing in, and thanks to @marcoscaceres for suggesting a different approach. Y’all rock.

[2018-02-17 11:57] #66 closed

[2018-02-21 17:15] keithjgrant commented on #63
I’m having a tough time really nailing this down. Every time I come up with a scenario, it’s clearly contrived, and I can think of a better layout that would make more sense.

Here’s kind of what I’ve got, maybe bouncing some ideas around might help...

---

Page layout using flexbox and `flex-direction: column`. There are three flex items stacked atop one another: a header, a banner, and a main c

[2018-02-21 17:17] keithjgrant commented on #63
This is my current permutation. My devil’s advocate objection right now is this: Why is the `flex-basis` set to zero for the banner and the main area? It really should be `auto`, which means the height of the banner would be determined by its contents, and it wouldn’t become shorter than our CQ.

I could force the wrapping flex container to a height of 100vh (rather than a min-height)… but that’s

[2018-02-21 18:29] beep commented on #63
@keithjgrant, I think this is a stellar start. A couple quick questions from me:

- The grid pattern itself makes sense to me. Can you articulate what you’d like to see happen inside those containers, once there’s less space to work with?
- I’m curious: have you come across this pattern in your own work, or while browsing around the web? (Only asking as I’d love a little more context for how this

[2018-02-21 19:12] keithjgrant commented on #63
* Inside the colored boxes, I would likely shrink the text and maybe padding to make it more compact. I can flush that out before adding this use case to the document.
* This is not something I’ve come across in the real world. It’s purely speculative at this point. I’m curious if anybody else has had a specific need for something like this. @tomhodgins ?

I’m not entirely convinced height-based C

[2018-02-21 19:16] keithjgrant commented on #63
Now that I said that, I realized I do have a real-world app where I want to constrain the height. https://sidecar.us is built primarily to work on mobile as a PWA.

I’ve worked to keep the home screen at 100vh tall. Currently, it can overflow, if content gets too long, but I’m not too happy about it. Maybe I’ll noodle on that as a different starting point.

[2018-02-21 21:53] beep commented on #63
I think focusing on a real-world example could be a really great starting point! The way I think of it, we’re trying to demonstrate an existing need here; we don’t have to be responsible for inventing new ones, if that makes sense?

Possibly related: I thought @eeeps had [a marvelously insightful comment in Slack](https://containerqueries.slack.com/archives/C90TV7Y15/p1518897861000122), about the

[2018-02-26 16:06] keithjgrant commented on #63
I think what I’m finding when it comes to height is not so much that I want to query the height of the container so much as I want to be able detect overflow and take steps to shrink things down in attempt to prevent it. Would that still fall in the scope of what we’re doing here?

[2018-02-26 21:21] beep commented on #63
@keithjgrant Hmm! I’m not sure.

My gut read says that, yes, it’s _probably_ out of scope. This feels like a more general _property status query_, which is highly rad, but mayyyyybe not what we’re after?

But—but!—I don’t want to preemptively axe a possibly stellar use case. I’d say keep working at it, if you think it has merit? In other words, if you think there’s a common pattern or problem here

[2018-03-01 00:50] eeeps commented on #63
Just popping by to say that @keithjgrant it’s super-cool to get to read you thinking concretely though a possible use case and finding out that you didn't really want what you thought you wanted. That's the Use-Cases-first system at work! (;

When you say “overflow” – do you mean overflow within a DOM element or overflow of the viewport?

If the viewport, that would be an awesome media query! Not

[2018-03-01 01:57] tomhodgins commented on #63
I do think there's a use case for a `height` condition when element queries, though it will be much more rare that you would use it than `width`-based queries. Far more often than wanting to query `height` I've reached for other height (and width) informed features like querying the `aspect-ratio` or `orientation` of an element so I can style it or another element.

How about something like this a

[2018-03-01 07:44] eeeps commented on #63
@keithjgrant  and @tomhodgins —

I think both of your examples focus on querying boxes whose height is being determined by their **contents**. In other words, they are [intrinsically sized](https://drafts.csswg.org/css-sizing-3/#intrinsic).

The container queries use cases that seem to come up when people talk about “width” queries are all about elements whose width is entirely dependent on their

[2018-03-01 13:12] andykirk commented on #63
@eeeps beat me to my main point, but here's my 2p:

In most scenarios, and by popular convention, we _choose_ width as the limiting factor, opting to allow vertical scrolling if content > screen height.

However, it's perfectly possible, though unconventional to _choose_ height as the limiting factor, opting to allow horizontal scrolling if content > screen width.
If we choose this, we're flipping

[2018-03-02 14:58] keithjgrant commented on #63
@eeeps that sounds like a fair summary. Technically, I guess the overflowing query is a little bit both intrinsic and extrensic: does the intrinsic size exceed some extrinsic constraint.

I basically want to short-circuit any circularity. If element X overflows, I want to take mitigating steps to prevent it. I would most likely shrink the content, hopefully making the overflow query evaluate to fa

[2018-03-15 21:56] andykirk commented on #53
Hi,
Do we still need this issue open now the PR has been merged?
Cheers

[2018-03-16 10:55] beep commented on #53
@andykirk Oops, good catch! I’ll close this out.

(Apologies for the oversight. I’m traveling this week, and prep for the trip has kept me away from the CQ work. I’ll be back on it next week.)

Thanks again.

[2018-03-16 10:55] #53 closed

[2018-03-30 22:07] eeeps commented on #59
Any progress on this, anybody? I was surprised to see today that https://github.com/WICG/cq-usecases/pull/64 wasn’t reflected in https://wicg.github.io/cq-usecases/

[2018-03-30 22:39] eeeps opened #67 "Pick one noun: module, component, container, or something else?"
The “things” that are changing in response to what we’ve [settled on (for now) calling](https://github.com/WICG/container-queries/issues/8) “container queries” need one name.

The existing use case uses “module” throughout. In keeping with the term “container query”, @andykirk’s recent limitations section uses “container” consistently, which seems sensible. In a couple of use cases that I’ve been

[2018-03-31 11:40] beep commented on #67
Hmm. Good call, Eric. Glad you caught this!

I wonder if it’s valuable to have language to address both the _thing_—be it a “module” or a “component”—and the _thing it sits in_ (the “container”)? Feels like we’d need to address both, no?

I’m pretty agnostic on module vs. container, myself. Though I assume this is something we’ll want to pattern after other parts of the spec.

--

[2018-03-31 12:04] ZeeCoder commented on #67
My vote is for either container or component.

Both of those express the - for me - most important aspect of the idea: handle styles in a scoped, reusable way.

## container

### pros

- been around a while,
- arguably being more DOM-y helps, as we're dealing with HTML, CSS and the DOM in general

### cons

- There's a constant battle between element v container
- I feel "container" doesn't expres

[2018-03-31 12:06] ZeeCoder commented on #67
To address your thoughts too Ethan, I don't really feel the need to separate those concepts.
I think calling whatever you're styling inside a container/component using these queries just "descendants" is fine.

Worked for me so far anyway. 🤔

[2018-03-31 12:15] jpamental commented on #67
I think I still come down in favor of 'container' - it feels more semantically correct. The problem I have with 'component' (even as someone who works with pattern libraries a lot) is that it doesn't have any inherent meaning. And since the notion of a 'container query' is that the rules apply to the container, and impact the contents (er, 'descendants' :) ) this feels more accurate/understandable

[2018-03-31 16:29] alanmoo commented on #67
I understand the desire to keep the terms solution agnostic, but at the same time, these words do imply different things.

This is what resonates with me most. When I read "component", I think of "the thing we're trying to change" and when I see "container" I think "the thing around the thing we're trying to change".

So if the technical solution allows us to check the conditions on an element and

[2018-03-31 16:48] tomhodgins commented on #67
- how (often) are we going to explain to people that by 'component' we actually aren't referring to web components in any way at all: https://www.webcomponents.org/specs

- how (often) are we going to explain to people that by 'module' we actually aren't referring to ES modules in any way at all: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import

I think re-using

[2018-04-01 15:06] eeeps commented on #67
Woah, a whole lot of good points and ideas here.

Re-reading the limitations section (a little more closely this time!), @andykirk does use “module” once, and whenever he uses the word “container” he is actually discussing a “module’s” immediate context.

In a world of cheap and easy wrapper divs, the distinction will often be invisible, but @beep I agree that the module/container distinction is a

[2018-04-01 15:36] andykirk commented on #67
Just chipping in here to say that in the limitations section I used “module” because it was already used in the existing Use Cases section (section 2), and container, because, well “*container* queries”.
Those terms sit well enough with me, but I don’t have a strong opinion. If the terms change I don’t mind replacing them in the limitations section.

I agree that the two sides of the equation *bot

[2018-04-02 22:14] tomhodgins commented on #67
Okay, I'm not sure how you're counting paragraphs so I rephrased the whole section below. I avoided using any terms other than 'element', 'responsive layout', and 'design' and I think the text still makes sense. (and might even be clearer)

Here I'm calling any HTML element an 'element'. I'm calling any set of elements that have a responsive design intention a 'responsive layout', and this use cas

[2018-04-03 05:38] eeeps commented on #67
@tomhodgins — I took the time to give this a real read-through and I don’t see a shift from talking about *things* ("widget/container/component/module/box/block") to talking about a fence around a set of things ("scope/barrier/border/partition/fence/enclosure"). What I do see, mostly, is "module" replaced with "element", and "context" replaced with "layout" (and more detail about some of the awkwa

[2018-04-03 16:28] tomhodgins commented on #67
Yes, I rephrased the text as it was to something I thought made more sense and what ended up happening was I able able to use already well understood terms like "element" and "layout" to communicate what we had written, so there didn't seem to be a need for a _new_ noun that we needed to pick a name for to communicate what we had already put down. That doesn't mean we don't need a name when we do

[2018-04-03 18:09] eeeps commented on #67
This issue is growing a bit in “scope” (badum-chhh, thank you, thank you), so ① thank you for the clear answers! ② do you want to spin up a separate issue for the “context” vs “layout” stuff? This thread is ballooning a bit.

A little recap:

I raised this issue because I thought I saw “module” and “container” being used in different parts of the doc to refer to the same thing, and caught myself a

[2018-04-03 18:41] andykirk commented on #67
Let's not forget that terms are repurposed all the time when required in different contexts. That's just how language works. If new terms were invented every time, things would get _more_ confusing pretty quickly.

To repurpose a term, all that's generally needed is a definitions section or glossary in the document and for the terms to be used consistently.

"In the context/subject of container qu

[2018-04-03 20:21] beep commented on #67
@eeeps “Module” works for me, personally.

@andykirk Well said. And +1.

[2018-04-03 22:21] eeeps commented on #63
An interesting, possibly-related use case, re: intrinsic size queries: https://github.com/marcj/css-element-queries/issues/223#issuecomment-378139991

@7iomka wanted to make the intrinsic size of some text depend on... the text's intrinsic size. Which introduced an infinite loop.

I get the use case (shrink the text rather than have it linebreak); dunno if container queries are the hammer for that

[2018-04-04 14:42] beep commented on #63
Oh, _hm!_

So [personally](https://ethanmarcotte.com/wrote/a-bit-more-on-container-queries/), text sizing and weight are two of the biggest things I’d use container queries for. (Just for example, if an image+title pattern appears in both, say, a main content well _and_ in a sidebar, I’d expect the title to be more prominent in the former.)

That said, I’d think about that as something under the d

[2018-04-04 15:07] andykirk commented on #63
Off topic?
This thread is about height-based queries, no?

[2018-04-04 19:33] eeeps commented on #63
@beep makes total sense. And yep! I'm not trying to say that adjusting text styles is problematic. Rather, I'm just (weirdly?) excited to find a real-life example of someone trying to do something related to @keithjgrant’s use case – adjusting the style of some content so that it doesn’t overflow (well, line break within) a container.

Can you use a tool like container queries to mitigate overflow

[2018-04-04 20:08] andykirk commented on #63
@eeeps don’t mind me. I was just pointing it out in case...

[2018-04-06 20:42] eeeps opened #68 "Sidebars and cards use case"
https://daverupert.com/2018/04/pitfalls-of-card-uis/#responsive-collapsing
https://twitter.com/davatron5000/status/982351699367968770
https://codepen.io/davatron5000/pen/zWMrNq?editors=1100

Need to think through whether this is different enough from the existing use case for inclusion in the doc, but given that we still only have one of ’em in there, I’m trying to capture any potential new ones I

[2018-04-06 20:53] eeeps commented on #68
I really liked [this statement of the problem](https://twitter.com/davatron5000/status/982358746600001536), from @davatron5000:

I think this is more or less the problem that the use case in the doc now addresses, but I don't think we ever state that problem this clearly. You kind of have to work through a bunch of specifics to figure it out. Those specifics are great, but maybe we should preface

[2018-04-11 20:47] matthew-dean commented on #9
What seems to often be missed in this circularity argument with element/container queries is that CSS ALREADY HAS THIS PROBLEM. This is easily demonstrated. https://codepen.io/matthewdean/pen/LdvVZZ

Hover your mouse over the word "out".  At least in Chrome, you will get an infinite resizing loop. So I don't understand why spec authors, developers, and browser vendors get so stuck on the issue of

[2018-04-11 22:50] eeeps commented on #9
Hi, @matthew-dean!

My current understanding is, `:hover` loops are ① regrettable https://twitter.com/tabatkins/status/739873184065806336 ② not nearly as bad as element query loops would be https://twitter.com/tabatkins/status/882797782028832772 because at least they *do* render sometimes (rather than being caught in infinite layout, forever).

I've never created a `:hover` loop, but I have create

[2018-04-11 23:15] matthew-dean commented on #9
🤔 Okay fair enough. I understand that it's not exactly equivalent.

Pardon my frustration. Like every CSS developer, I'm just frustrated that container/element queries don't already exist; which is not a statement against anyone in particular. I just feel like the impetus to implement is just greater than the potential roadblock of circularity. And I also feel like circularity is not, as far as pr

[2018-04-12 05:17] andykirk commented on #9
Hi @matthew-dean - I share your frustration, which is why I got involved in this.

As this repo is about getting the use-cases document off the ground, if you’d like to help, you could have a look through the open issues and see where you could contribute.

Also, it seems to me the document as it stands lacks a wide variety of use-cases[1], so you could maybe  document the actual problems you’re f

[2018-04-12 07:15] tabatkins commented on #9
I wrote up the canonical reason why this isn't true over on the CSSWG wiki: <https://wiki.csswg.org/faq#selectors-that-depend-on-layout>

[2018-04-12 14:40] matthew-dean commented on #9
@andykirk Thanks! Will do as soon as I have time.
@tabatkins Thanks for that link. Will take a look. I guess re: circularity, one thing I seem to have heard often as a reason to NOT have container queries is circularity, and what I'm trying to say is that it's not an insurmountable problem, or a reason in and of itself not to implement. But yes, I am getting that the type of circularity is more si

[2018-05-02 19:51] eeeps opened #69 "Fluid, fit-to-container type sizing use case"
https://www.zachleat.com/web/obnoxiously-readable/

Interesting use case for continuous adaptation, rather than adaptation at discrete breakpoints.

Zach ends up proposing units exactly like @tomhodgins’ proposed [`ew` and `eh` units](https://tomhodgins.github.io/element-queries-spec/element-queries.html#element-percentage-units) – but the use case is what's interesting to me here. Seems scope-adj

[2018-05-02 19:57] zachleat commented on #69
Oh very cool! Of course @tomhodgins would’ve thought of it first 😀

[2018-05-03 17:14] eeeps commented on #67
Finding “component” + replacing with “module” in my drafts, and closing the issue.

[2018-05-03 17:14] #67 closed

[2018-05-14 16:57] matthew-dean opened #71 "Use case: Responsive Typography"
So, at work we had the following use case that led us to use JS-driven container queries:

1. We wanted a responsive type system, to support scalable type from devices as small as 320px to supporting devices at 1920px. So, headings, sub-headings and paragraphs, for the most part, we wanted to uniformly scale throughout various styled components. We defined these with `@media` queries.
2. This syst

[2018-05-14 17:09] tomhodgins commented on #71
Is this a use-case for container-based units for sizing (like `vw` but based on the element's own width), or container-based breakpoints for resetting styling?

The exact thing you describe here: "scalable font-sizes trapped inside a modal with a `max-width` so it's not always in a relationship with the viewport's dimensions" are the exact same situation that drove me to experiment with element-ba

[2018-05-14 17:35] matthew-dean opened #72 "Use case: Responsive Grid Systems"
On our app, in order to efficiently scale a design from 320px to 1920px, our designers early on came up with a system of tiles. Meaning: many of the layouts had tiles that would "contain" content, such as media and type, and what would change at different breakpoints was the number of tiles for that viewport.

That way, the tiles were mostly of uniform sizes even as the viewport would grow, and th

[2018-05-14 17:46] matthew-dean commented on #71
@tomhodgins Yes and no.

One thing I didn't go into actually makes this even more complex. Which is - in our case, something like a heading might have a certain amount of "visual affordance" but actually be restricted in its max-length by restricting the amount of columns it was actually in.

In other words, say we have a Hero space - a big space at the top of the page with a giant background imag

[2018-06-09 09:14] romans opened #73 "Thoughts about applying element queries to element's parent rather than the element itself"

[2018-06-09 09:16] #73 closed

[2018-06-16 17:48] eeeps commented on #63
Re: detecting overflow – I can't wait to see the video, but from what I can gather from just the slides, the IntersectionObserver section of Greg Whitworth’s CSS Day talk container queries, here, is surely relevant: https://noti.st/gregwhitworth/UDul7E/over-the-moon-for-container-queries

**Stepping back** – @keithjgrant , given your explorations and all of the discussion they spurred, where are y

[2018-07-20 21:17] beep commented on #72
Okay, this is great. Matthew, the tile system you’ve described sounds like a _perfect_ use case. It describes the problem perfectly, and overlaps nicely with something I’m (finally) writing up.

I’d like to see if we could write this up. @matthew-dean: Would you be willing to draft a use case based on this, perhaps with a diagram or two showing a generic version of the design you had to implement?

[2018-07-20 21:35] beep commented on #71
This is real good, and I think it’s good _because_ it’s a pretty common pattern. The folks at Filament Group had [a write-up that comes immediately to mind](https://www.filamentgroup.com/lab/element-query-workarounds.html). (They were dealing with a module shuttling between the main content well and a sidebar, not a module conditionally appearing in a modal overlay, but: tomayto, tomahto.)

@matth

[2018-07-23 17:28] matthew-dean commented on #72
@beep Can you explain more of what you need besides what I already wrote? Isn't this already a use case? (I guess just the diagram you're looking for?)

[2018-07-23 22:41] beep commented on #59
@tomhodgins @hereinthehive Have either of you gotten a chance to work on this?

[2018-07-23 22:47] beep commented on #72
@matthew-dean Hey, of course. And great question, thank you!

I’d suggest taking your text above—which is very good—and turning it into a generic-sounding example. Less “this is a thing I worked on”, and more “here is an example of the problem that container queries would solve.” If some rough layout diagrams would help (and I think it might? possibly?), please feel free to include them.

Does tha

[2018-08-07 21:31] eeeps commented on #59
Possibly helpful: https://github.com/WICG/ResizeObserver/pull/60

[2018-08-07 21:35] tomhodgins commented on #59
Ah thanks! I just got a new computer yesterday so I can look into this stuff again now :D

[2018-10-01 21:37] eeeps commented on #59
https://tabatkins.github.io/bikeshed/#travis-ci

[2018-11-06 22:43] marcj commented on #41
Meanwhile, css-element-queries has over 26.000 web pages using it (https://publicwww.com/websites/ResizeSensor.js/, although looking for ElementQueries.js is probably more realistic), also on npm it had over 52.000 installations last week. I guess we find plenty of use-cases at the publicwww.com page and in the dependents list at https://www.npmjs.com/package/css-element-queries or Github search,

[2018-11-06 23:17] ZeeCoder commented on #41
An interesting trend I've been seeing in the React world:
people seem to move away from media-query and similar solutions in favour of simply detecting the size of a given component (ResizeObserver for ex.) and either apply different styles, or render different layouts all together.

Where the latter would not be possible even if we did have a standard solution in CSS.
Applying styles conditionall

[2019-05-18 15:30] eeeps opened #74 "Opening/closing menus aka user-controlled sizing"
https://github.com/w3c/csswg-drafts/issues/3852#issuecomment-493683805

[2019-05-18 15:31] eeeps commented on #74
On second thought this probably belongs in #39

[2019-05-18 15:31] #74 closed

[2019-05-18 15:32] eeeps commented on #39
Great example of a menu panel that the user can open and close, which adjusts the size of everything else on the page: https://github.com/w3c/csswg-drafts/issues/3852#issuecomment-493683805